<ol class="flex font-semibold text-primary dark:text-white-dark">
    <li class="bg-[#ebedf2] ltr:rounded-l-md rtl:rounded-r-md dark:bg-[#1b2e4b]">
        <a
            routerLink="/dashboard"
            class="relative flex h-full items-center p-1.5 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-3 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-3 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70"
            >Home</a
        >
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180"
            >Admin Settings</a
        >
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            href="javascript:;"
            class="relative flex h-full items-center p-1.5 px-3 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-6 ltr:before:-right-[15px] rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70"
            >WhatsApp Settings</a
        >
    </li>
</ol>

<div>
    <div *ngIf="load_flag" style="text-align: center">
        <span
            class="m-auto mb-10 inline-block h-14 w-14 animate-[spin_3s_linear_infinite] rounded-full border-8 border-b-success border-l-primary border-r-warning border-t-danger align-middle"
        ></span>
    </div>
    <div class="pt-5" *ngIf="!load_flag">
        <div class="mb-4 flex border-b">
            <button
                class="px-4 py-2 font-bold"
                [class.border-b-2]="activeTab === 'config'"
                [class.border-blue-500]="activeTab === 'config'"
                (click)="setTab('config')"
            >
                WhatsApp Configurations
            </button>

            <button
                class="px-4 py-2 font-bold"
                [class.border-b-2]="activeTab === 'design'"
                [class.border-blue-500]="activeTab === 'design'"
                (click)="setTab('design')"
            >
                Whatsapp Automated Messages
            </button>
        </div>

        <div *ngIf="activeTab === 'config'" class="pt-5">
            <div class="mb-5 rounded-md border border-[#ebedf2] bg-white p-4 dark:border-[#191e3a] dark:bg-[#0e1726]">
                <!-- <h6 class="mb-5 text-lg font-bold">WhatsApp Configurations</h6> -->
                <div class="mt-1" style="align-items: center">
                    <h6 class="mb-1 text-lg">Inbound follow up with customer</h6>
                    <div class="flex flex-col sm:flex-row">
                        <div class="grid flex-1 grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-2">
                            <div class="flex flex-col sm:flex-row" style="align-items: center" *ngFor="let data of inboundFollowUpTimes; let i = index">
                                <label for="v_number" class="mb-0 gap-1" style="display: flex"
                                    >{{ getOrdinalLabel(i) }} Follow Up Time<svg
                                        ngxTippy="Maximum time allowed to reply messages"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            opacity="0.5"
                                            d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                            fill="#1C274C"
                                        />
                                        <path
                                            d="M12 7.75C11.3787 7.75 10.875 8.25368 10.875 8.875C10.875 9.28921 10.5392 9.625 10.125 9.625C9.71079 9.625 9.375 9.28921 9.375 8.875C9.375 7.42525 10.5503 6.25 12 6.25C13.4497 6.25 14.625 7.42525 14.625 8.875C14.625 9.58584 14.3415 10.232 13.883 10.704C13.7907 10.7989 13.7027 10.8869 13.6187 10.9708C13.4029 11.1864 13.2138 11.3753 13.0479 11.5885C12.8289 11.8699 12.75 12.0768 12.75 12.25V13C12.75 13.4142 12.4142 13.75 12 13.75C11.5858 13.75 11.25 13.4142 11.25 13V12.25C11.25 11.5948 11.555 11.0644 11.8642 10.6672C12.0929 10.3733 12.3804 10.0863 12.6138 9.85346C12.6842 9.78321 12.7496 9.71789 12.807 9.65877C13.0046 9.45543 13.125 9.18004 13.125 8.875C13.125 8.25368 12.6213 7.75 12 7.75Z"
                                            fill="#1C274C"
                                        />
                                        <path
                                            d="M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z"
                                            fill="#1C274C"
                                        />
                                    </svg>
                                </label>
                                <div class="flex">
                                    <input
                                        id="v_number"
                                        maxlength="2"
                                        [(ngModel)]="data.wb_msg_fut_time"
                                        type="text"
                                        placeholder="Follow Up Time"
                                        class="same-height form-input text-xs"
                                        style="width: 10rem"
                                    />
                                    <ng-select
                                        [items]="intervalType"
                                        bindLabel="type"
                                        [(ngModel)]="data.was_mfut_interval"
                                        bindValue="id"
                                        [searchable]="true"
                                        [clearable]="false"
                                        placeholder="minute/hours/days"
                                        class="custom-multiselect same-height"
                                    >
                                    </ng-select>
                                    <button
                                        type="button"
                                        (click)="updateFollowUpAlertTime(data.wb_msg_fut_time, data.was_mfut_interval, data.wb_msg_fut_id)"
                                        class="btn btn-secondary same-height ltr:rounded-l-none rtl:rounded-r-none"
                                    >
                                        UPDATE
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div style="align-items: center; margin-top: 1.6rem">
                <h6 class="mb-5 text-lg">Outbound follow up with customer</h6>
                <div class="flex flex-col sm:flex-row">
                    <div class="grid flex-1 grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-2">
                        <div class="flex flex-col sm:flex-row" style="align-items: center"
                            *ngFor="let data of outboundFollowUpTimes; let i = index">
                            <label for="v_number" class="mb-0 rtl:ml-2 sm:w-1/3 sm:ltr:mr-2" style="display: flex"> {{
                                getOrdinalLabel(i) }}
                                Follow Up Time<svg ngxTippy="Follow up after {{ getPreviousItem(i) }} if no response"
                                    width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.5"
                                        d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                        fill="#1C274C" />
                                    <path
                                        d="M12 7.75C11.3787 7.75 10.875 8.25368 10.875 8.875C10.875 9.28921 10.5392 9.625 10.125 9.625C9.71079 9.625 9.375 9.28921 9.375 8.875C9.375 7.42525 10.5503 6.25 12 6.25C13.4497 6.25 14.625 7.42525 14.625 8.875C14.625 9.58584 14.3415 10.232 13.883 10.704C13.7907 10.7989 13.7027 10.8869 13.6187 10.9708C13.4029 11.1864 13.2138 11.3753 13.0479 11.5885C12.8289 11.8699 12.75 12.0768 12.75 12.25V13C12.75 13.4142 12.4142 13.75 12 13.75C11.5858 13.75 11.25 13.4142 11.25 13V12.25C11.25 11.5948 11.555 11.0644 11.8642 10.6672C12.0929 10.3733 12.3804 10.0863 12.6138 9.85346C12.6842 9.78321 12.7496 9.71789 12.807 9.65877C13.0046 9.45543 13.125 9.18004 13.125 8.875C13.125 8.25368 12.6213 7.75 12 7.75Z"
                                        fill="#1C274C" />
                                    <path
                                        d="M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z"
                                        fill="#1C274C" />
                                </svg>
                            </label>
                            <div class="flex">
                                <input id="v_number" maxlength="2" [(ngModel)]="data.wb_msg_fut_time" type="text"
                                    placeholder="Follow Up Time"
                                    class="form-input ltr:rounded-r-none rtl:rounded-l-none" />
                                <ng-select [items]="intervalType" bindLabel="type" [(ngModel)]="data.was_mfut_interval"
                                    bindValue="id" [searchable]="true" [clearable]="false"
                                    placeholder="minute/hours/days" class="custom-multiselect same-height">
                                </ng-select>
                                <button type="button"
                                    (click)="updateFollowUpAlertTime(data.wb_msg_fut_time,data.was_mfut_interval,data.wb_msg_fut_id)"
                                    class="btn btn-secondary ltr:rounded-l-none rtl:rounded-r-none">
                                    UPDATE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
                <div style="align-items: center; margin-top: 1.6rem">
                    <h6 class="mb-5 text-lg">Staff assigned for chat with customer</h6>
                    <div class="grid flex-1 grid-cols-2 gap-5 md:grid-cols-6 lg:grid-cols-6">
                        <span
                            class="badge my-4 flex items-center rounded-full bg-danger p-0 text-base ltr:pr-4 rtl:pl-4"
                            *ngFor="let staff3 of selectedChatStaff"
                            style="justify-content: space-between"
                            ><img src="./assets/images/user_def.png" alt="" class="h-10 w-10 rounded-full object-cover" /><span class="ltr:ml-2 rtl:mr-2">{{
                                staff3.us_firstname | uppercase
                            }}</span
                            ><span class="cursor-pointer hover:opacity-90 ltr:ml-4 rtl:mr-4" (click)="deleteAssignedStaff(staff3)">x</span></span
                        >
                    </div>
                    <div>
                        <label for="userList">Add New Staff</label>
                        <div class="flex">
                            <ng-select
                                [items]="userList"
                                bindLabel="us_firstname"
                                bindValue="us_id"
                                placeholder="Select staff To assign"
                                [searchable]="true"
                                [clearable]="false"
                                class="custom-multiselect"
                                style="width: 30%"
                                [(ngModel)]="selectedStaff"
                                [ngModelOptions]="{ standalone: true }"
                            >
                            </ng-select>
                            <button
                                type="button"
                                class="btn btn-info"
                                style="margin-left: 1%"
                                [disabled]="selectedStaff == null"
                                (click)="addStaffToWhatsapp(0, selectedStaff)"
                            >
                                ADD
                            </button>
                        </div>
                    </div>
                </div>
                <div style="align-items: center; margin-top: 1.6rem">
                    <h6 class="mb-5 text-lg">Head staff monitors chatting staff</h6>
                    <div class="grid flex-1 grid-cols-2 gap-5 md:grid-cols-6 lg:grid-cols-6">
                        <span
                            class="badge my-4 flex items-center rounded-full bg-dark p-0 text-base ltr:pr-4 rtl:pl-4"
                            *ngFor="let staff3 of selectedHeadStaff"
                            style="justify-content: space-between"
                            ><img src="./assets/images/user_def.png" alt="" class="h-10 w-10 rounded-full object-cover" /><span class="ltr:ml-2 rtl:mr-2">{{
                                staff3.us_firstname | uppercase
                            }}</span
                            ><span class="cursor-pointer hover:opacity-90 ltr:ml-4 rtl:mr-4" (click)="deleteAssignedStaff(staff3)">x</span></span
                        >
                    </div>
                    <div>
                        <label for="userList">Add New Staff</label>
                        <div class="flex">
                            <ng-select
                                [items]="userList"
                                bindLabel="us_firstname"
                                bindValue="us_id"
                                placeholder="Select staff To assign"
                                [searchable]="true"
                                [clearable]="false"
                                class="custom-multiselect"
                                style="width: 30%"
                                [(ngModel)]="selectedStaffHead"
                                [ngModelOptions]="{ standalone: true }"
                            >
                            </ng-select>
                            <button
                                type="button"
                                class="btn btn-info"
                                style="margin-left: 1%"
                                [disabled]="selectedStaffHead == null"
                                (click)="addStaffToWhatsapp(1, selectedStaffHead)"
                            >
                                ADD
                            </button>
                        </div>
                    </div>
                </div>
                <div style="align-items: center; margin-top: 1.6rem">
                    <h6 class="mb-5 text-lg">Whatsapp Lead Reopen Hours</h6>
                    <div class="flex flex-col sm:flex-row">
                        <div class="grid flex-1 grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-2">
                            <div class="flex flex-col sm:flex-row" style="align-items: center">
                                <label for="v_number" class="mb-0 gap-1" style="display: flex">
                                    Lead Reopen Hours<svg
                                        ngxTippy="Maximum time allowed to reopen leads from Whatsapp messages"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            opacity="0.5"
                                            d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                            fill="#1C274C"
                                        />
                                        <path
                                            d="M12 7.75C11.3787 7.75 10.875 8.25368 10.875 8.875C10.875 9.28921 10.5392 9.625 10.125 9.625C9.71079 9.625 9.375 9.28921 9.375 8.875C9.375 7.42525 10.5503 6.25 12 6.25C13.4497 6.25 14.625 7.42525 14.625 8.875C14.625 9.58584 14.3415 10.232 13.883 10.704C13.7907 10.7989 13.7027 10.8869 13.6187 10.9708C13.4029 11.1864 13.2138 11.3753 13.0479 11.5885C12.8289 11.8699 12.75 12.0768 12.75 12.25V13C12.75 13.4142 12.4142 13.75 12 13.75C11.5858 13.75 11.25 13.4142 11.25 13V12.25C11.25 11.5948 11.555 11.0644 11.8642 10.6672C12.0929 10.3733 12.3804 10.0863 12.6138 9.85346C12.6842 9.78321 12.7496 9.71789 12.807 9.65877C13.0046 9.45543 13.125 9.18004 13.125 8.875C13.125 8.25368 12.6213 7.75 12 7.75Z"
                                            fill="#1C274C"
                                        />
                                        <path
                                            d="M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z"
                                            fill="#1C274C"
                                        />
                                    </svg>
                                </label>
                                <div class="flex">
                                    <input
                                        id="v_number"
                                        maxlength="2"
                                        [(ngModel)]="whatsapp_lead_reopen_hours"
                                        type="number"
                                        placeholder="Follow Up Time"
                                        class="same-height form-input text-xs"
                                        style="width: 10rem"
                                    />
                                    <ng-select
                                        [items]="['Hours']"
                                        [(ngModel)]="defaultUnit"
                                        [searchable]="false"
                                        [clearable]="false"
                                        placeholder="minute/hours/days"
                                        class="custom-multiselect same-height"
                                        [disabled]="true"
                                    >
                                    </ng-select>
                                    <button
                                        type="button"
                                        (click)="updateLeadReopenHours(whatsapp_lead_reopen_hours)"
                                        class="btn btn-secondary same-height ltr:rounded-l-none rtl:rounded-r-none"
                                    >
                                        UPDATE
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="align-items: center; margin-top: 1.6rem">
                    <h6 class="mb-5 text-lg">Whatsapp Repeated Non-Working Hours Auto Reply</h6>
                    <div class="flex flex-col sm:flex-row">
                        <div class="grid flex-1 grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-2">
                            <div class="flex flex-col sm:flex-row" style="align-items: center">
                                <label for="v_number" class="mb-0 gap-1" style="display: flex">
                                    Away Notification Hours<svg
                                        ngxTippy=" This setting defines the hours during which customers will automatically receive
                                    repeated away messages. It is active during non-working hours to inform customers that
                                    our team is currently unavailable."
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            opacity="0.5"
                                            d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                            fill="#1C274C"
                                        />
                                        <path
                                            d="M12 7.75C11.3787 7.75 10.875 8.25368 10.875 8.875C10.875 9.28921 10.5392 9.625 10.125 9.625C9.71079 9.625 9.375 9.28921 9.375 8.875C9.375 7.42525 10.5503 6.25 12 6.25C13.4497 6.25 14.625 7.42525 14.625 8.875C14.625 9.58584 14.3415 10.232 13.883 10.704C13.7907 10.7989 13.7027 10.8869 13.6187 10.9708C13.4029 11.1864 13.2138 11.3753 13.0479 11.5885C12.8289 11.8699 12.75 12.0768 12.75 12.25V13C12.75 13.4142 12.4142 13.75 12 13.75C11.5858 13.75 11.25 13.4142 11.25 13V12.25C11.25 11.5948 11.555 11.0644 11.8642 10.6672C12.0929 10.3733 12.3804 10.0863 12.6138 9.85346C12.6842 9.78321 12.7496 9.71789 12.807 9.65877C13.0046 9.45543 13.125 9.18004 13.125 8.875C13.125 8.25368 12.6213 7.75 12 7.75Z"
                                            fill="#1C274C"
                                        />
                                        <path
                                            d="M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z"
                                            fill="#1C274C"
                                        />
                                    </svg>
                                </label>
                                <div class="flex">
                                    <input
                                        id="v_number"
                                        maxlength="2"
                                        [(ngModel)]="whatsapp_auto_msg_hours"
                                        type="number"
                                        placeholder="Follow Up Time"
                                        class="same-height form-input text-xs"
                                        style="width: 10rem"
                                    />
                                    <ng-select
                                        [items]="['Hours']"
                                        [(ngModel)]="defaultUnit"
                                        [searchable]="false"
                                        [clearable]="false"
                                        placeholder="minute/hours/days"
                                        class="custom-multiselect same-height"
                                        [disabled]="true"
                                    >
                                    </ng-select>
                                    <button
                                        type="button"
                                        (click)="updateAutoMessageHours(whatsapp_auto_msg_hours)"
                                        class="btn btn-secondary same-height ltr:rounded-l-none rtl:rounded-r-none"
                                    >
                                        UPDATE
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="activeTab === 'design'" class="pt-2">
            <div class="rounded-md border bg-white p-3 dark:bg-[#0e1726]">
                <div>
                    <h5 class="mb-2 mt-2 text-lg font-bold">WhatsApp Message Settings</h5>
                    <div class="flex-col-2 container flex">
                        <div class="left">
                            <div class="card">
                                <label>Basic Information</label>
                                <p>The message Id is used for identifying the message.</p>

                                <label>Message Name</label>
                                <ng-select
                                    [items]="messageNames"
                                    [(ngModel)]="messageNameId"
                                    bindLabel="name"
                                    bindValue="id"
                                    [searchable]="true"
                                    [clearable]="false"
                                    placeholder="Choose purpose"
                                    class="custom-multiselect"
                                >
                                </ng-select>
                                <!-- <input type="text" value="Non Working Hour Message" class="w-full rounded border bg-gray-100 p-2 text-gray-700" disabled /> -->

                                <label>Message Type</label>
                                <!-- <input type="text" value="Non Working Hour Message" class="w-full rounded border bg-gray-100 p-2 text-gray-700" disabled /> -->

                                <ng-select
                                    *ngIf="messageTypes.length"
                                    [(ngModel)]="messageTypeId"
                                    (change)="onMessageTypeChange()"
                                    [clearable]="false"
                                    [disabled]="true"
                                >
                                    <ng-option *ngFor="let type of messageTypes" [value]="type.id">
                                        {{ type.name }}
                                    </ng-option>
                                </ng-select>
                            </div>

                            <div class="card">
                                <h3><b>Message Content</b></h3>
                                <p class="mb-2">Update your automated message.</p>

                                <textarea [(ngModel)]="messageText" rows="4" maxlength="250" [ngClass]="{ 'border-red': isTooLong }"></textarea>
                                <div class="char-count" [ngClass]="{ 'text-red': isTooLong }">{{ messageText.length }}/250</div>
                                <div class="mt-2 flex justify-end">
                                    <button (click)="saveAwayMessage()" class="btn btn-primary mt-2 justify-end">Save Message</button>
                                </div>
                            </div>

                            <!-- Customer Input + Check Button -->
                            <div class="preview-card" style="margin-top: 20px">
                                <h3><b>Send Test Message</b></h3>
                                <p>Select country code and type customer number</p>

                                <div class="flex gap-2">
                                    <!-- Country Code Dropdown -->
                                    <select [(ngModel)]="countryCode" class="max-w-[70px] rounded border p-2">
                                        <option value="+971">+971</option>
                                        <option value="+91">+91</option>
                                    </select>

                                    <!-- Customer Number Input -->
                                    <input
                                        type="text"
                                        [(ngModel)]="customerNumber"
                                        placeholder="Enter number"
                                        class="rounded border p-2"
                                        maxlength="{{ countryCode === '+971' ? 9 : 10 }}"
                                        (input)="onNumberInput($event)"
                                    />
                                </div>

                                <p class="mt-1 text-sm text-red-600">
                                    Saved messages are sent in real-time.<br />Testing this message is only possible if the above phone number has contacted the
                                    company number within the last 24 hours.
                                </p>

                                <div class="mt-2 flex justify-end">
                                    <button
                                        (click)="sendCheckMessage()"
                                        [disabled]="!isNumberValid()"
                                        class="rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-700 disabled:bg-gray-400"
                                    >
                                        Test Message
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="right sticky-card">
                            <div class="preview-card">
                                <h3><b>Message Preview</b></h3>
                                <p>See how your message will appear to recipients</p>
                                <div
                                    class="preview-box"
                                    style="white-space: pre-wrap; word-wrap: break-word; overflow-wrap: break-word"
                                    [innerHTML]="formattedMessage"
                                >
                                    <ng-container *ngIf="messageTypeId == 1">
                                        {{ '\n\n📅 Book Appointment\n💬 Leave a Message\n🕒 View Working Hours' }}
                                    </ng-container>
                                </div>
                                <p *ngIf="messageTypeId == 1" class="dev-note italic" style="margin-top: 10px; color: #888; font-size: 0.9rem">
                                    Please contact the developer to modify the buttons.
                                </p>
                            </div>

                            <!-- Preview Card: Leave a Message -->
                            <div class="flex gap-2">
                                <div class="preview-card flex-1" style="margin-top: 10px">
                                    <h3><b>Leave a Message Preview</b></h3>
                                    <p>See how the "Leave a Message" button looks</p>
                                    <div class="preview-box" style="white-space: pre-wrap; word-wrap: break-word; overflow-wrap: break-word">
                                        <ng-container *ngIf="messageTypeId == 1">
                                            <div [innerHTML]="leaveAmessage"></div>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- Preview Card: View Working Hours -->
                                <div class="preview-card flex-1" style="margin-top: 10px">
                                    <h3><b>View Working Hours Preview</b></h3>
                                    <p>See how the "Working Hours" button looks</p>
                                    <div class="preview-box" style="white-space: pre-wrap; word-wrap: break-word; overflow-wrap: break-word">
                                        <ng-container *ngIf="messageTypeId == 1">
                                            <div [innerHTML]="workingHours"></div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
