<ol class="flex font-semibold text-primary dark:text-white-dark">
    <li class="bg-[#ebedf2] ltr:rounded-l-md rtl:rounded-r-md dark:bg-[#1b2e4b]">
        <a routerLink="/dashboard"
            class="relative flex h-full items-center p-1.5 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-3 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-3 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">Home</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180">
            Service Management</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a routerLink="/serviceList"
            class="relative flex h-full items-center p-1.5 px-3 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-6 ltr:before:-right-[15px] rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">
            Service List</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180">
            Service Creation</a>
    </li>
</ol>

<div class="panel mt-5 mb-5">
    <div class="mb-5 flex flex-col gap-5 md:flex-row md:items-center">
        <h5 class="text-lg font-semibold dark:text-white-light">Service Creation</h5>
    </div>
    <div class="mb-5 grid grid-cols-4 gap-2">
        <div class="col-span-3">
            <div class="mb-5 grid flex-1 grid-cols-2 gap-2 lg:grid-cols-2 xl:grid-cols-2">
                <div>
                    <label for="name" class="m-0 dark:text-white-dark">Service Name</label>
                    <!-- <ng-select [items]="services" [(ngModel)]="input7" [multiple]="false" [clearable]="false"
                        placeholder="Select an Engine" class="custom-multiselect">
                    </ng-select> -->
                    <ng-select fullWidth class="tiny-select" [(ngModel)]="service_details.selectedservice"
                        [searchable]="true" [clearable]="false" placeholder="Select Service" class="form-input"
                        style="padding: 0">
                        <ng-option value="Service A">Service A</ng-option>
                        <ng-option value="Service B">Service B</ng-option>
                        <ng-option value="Service A+">Service A+</ng-option>
                        <ng-option value="Service B+">Service B+</ng-option>
                    </ng-select>
                </div>
                <div>
                    <label for="name" class="m-0 dark:text-white-dark">Engine No</label>
                    <ng-select fullWidth [items]="engines" bindLabel="veh_enginemaster" [multiple]="true"
                        [(ngModel)]="service_details.selectedEngines" bindValue="veh_enginemaster" [searchable]="true"
                        [clearable]="false" placeholder="Select Engine Numbers" class="custom-multiselect"
                        (change)="Vingroups()">
                    </ng-select>
                    <!-- <ng-select [items]="engines" [(ngModel)]="input6" [multiple]="true" [clearable]="false"
                        placeholder="Select an Engine" class="custom-multiselect">
                    </ng-select> -->
                </div>
                <div>
                    <label for="name" class="m-0 dark:text-white-dark">Vin No</label>
                    <ng-select fullWidth [items]="vingroups" bindLabel="veh_vingroup_master" [multiple]="true"
                        [(ngModel)]="service_details.selectedVinGroups" bindValue="veh_vingroup_master"
                        [searchable]="true" [clearable]="false" placeholder="Select Vin Numbers"
                        class="custom-multiselect" (change)="Variant()">
                    </ng-select>
                    <!-- <ng-select [items]="vingroups" [(ngModel)]="vinnos" [multiple]="true" [clearable]="false"
                        placeholder="Select an Engine" class="custom-multiselect">
                    </ng-select> -->
                </div>
                <div>
                    <label for="name" class="m-0 dark:text-white-dark">KM</label>
                    <!-- <ng-select fullWidth [items]="kilometers" bindLabel="veh_vingroup_master" [multiple]="true"
                        [(ngModel)]="selectedVinGroups" bindValue="veh_vingroup_master" [searchable]="false" [clearable]="false"
                        placeholder="Select Staff" class="custom-multiselect" (change)="Variant()">
                    </ng-select> -->
                    <ng-select [items]="kilometers" [(ngModel)]="service_details.serviceKM" [multiple]="true"
                        [clearable]="false" placeholder="Select an KM" class="custom-multiselect">
                    </ng-select>
                </div>
            </div>
            <div style="font-size: 12px;font-weight: 800;" *ngIf="service_details.selectedEngines.length>0">
                <i>
                    <span>Selected Engine Numbers are </span>
                    <span *ngFor="let Engine of service_details.selectedEngines;">
                        {{ Engine}},
                    </span>
                </i>
            </div>
            <div style="font-size: 12px;font-weight: 800;" *ngIf="service_details.selectedVinGroups.length>0">
                <i>
                    <span>Selected VIN Groups are </span>
                    <span *ngFor="let vin of service_details.selectedVinGroups;">
                        {{ vin }},
                    </span>
                </i>
            </div>
            <div style="font-size: 12px;font-weight: 800;" *ngIf="service_details.serviceKM.length>0">
                <i>
                    <span>Selected Kilometers are </span>
                    <span *ngFor="let km of service_details.serviceKM;">
                        {{ km}} KM,
                    </span>
                </i>
            </div>
            <hr class="my-6 border-[#e0e6ed] dark:border-[#1b2e4b]" />
            <div class="table-responsive mt-6" style=" overflow: unset; ">
                <h5 class="mb-3 text-lg font-semibold dark:text-white-light" style="text-align: center">Spare</h5>
                <table class="table-striped" style="background-color: #f6f8fa;">
                    <thead>
                        <tr>
                            <th class="" style="width: 25%">DESCRIPTION</th>
                            <th class="" style="width: 25%">PART CODE</th>
                            <th class="" style="width: 20%">BRAND</th>
                            <th class="" style="width: 15%">QUANTITY</th>
                            <th class="ltr:text-right rtl:text-left" style="width: 15%">UNIT PRICE</th>
                            <!-- <th class="ltr:text-right rtl:text-left" style="width: 10%">TOTAL</th> -->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let spare of service_details.parts; let i = index">
                            <tr>
                                <td style="padding-left: 2px;padding-right: 2px;">
                                    <!-- <div class="ng-autocomplete" style="text-transform: uppercase;">
                                        <ng-autocomplete [data]="getPartNames()" maxlength="100" placeholder="Part Name"
                                            [(ngModel)]="spare.DESCRIPTION" ngxTippy="Enter Part Name"
                                            [ngModelOptions]="{ standalone: true }" [itemTemplate]="itemTemplateGeneric"
                                            #inputFieldGeneric>
                                        </ng-autocomplete>
                                    </div>
                                    <ng-template #itemTemplateGeneric let-item>
                                        <a [innerHTML]="item"></a>
                                    </ng-template> -->
                                    <ng-select [(ngModel)]="spare.DESCRIPTION" [searchable]="true" [clearable]="false"
                                        placeholder="Part Name" ngxTippy="Select Part Name"
                                        (change)="getPartcode(spare)">
                                        <ng-option *ngFor="let parts of partsList" value="{{ parts.pm_name }}">{{
                                            parts.pm_name}}</ng-option>
                                    </ng-select>
                                </td>
                                <td style="padding-left: 2px;padding-right: 2px;">
                                    <ng-select [(ngModel)]="spare.PART_NO" [searchable]="true" [clearable]="false"
                                        placeholder="Part Number" ngxTippy="Select Part No"
                                        (change)="getPartPrice(spare)">
                                        <ng-option *ngFor="let parts of filteredList" value="{{ parts.pm_code }}">{{
                                            parts.pm_code}}</ng-option>
                                    </ng-select>
                                    <!-- <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="getPartNo()" maxlength="100" placeholder="PART_NO"
                                            [(ngModel)]="spare.PART_NO" ngxTippy="Enter Part NO"
                                            [ngModelOptions]="{ standalone: true }" [itemTemplate]="itemTemplateGeneric"
                                            #inputFieldGeneric>
                                        </ng-autocomplete>
                                    </div>
                                    <ng-template #itemTemplateGeneric let-item>
                                        <a [innerHTML]="item"></a>
                                    </ng-template> -->
                                </td>
                                <td style="padding-left: 2px;padding-right: 2px;">
                                    <ng-select [(ngModel)]="spare.Brand" [searchable]="true" [clearable]="false"
                                        placeholder="Brand Name" ngxTippy="Select Brand Name"
                                        (change)="getPartPrice(spare)">
                                        <ng-option *ngFor="let parts of filteredList" value="{{ parts.brand_name }}">{{
                                            parts.brand_name}}</ng-option>
                                    </ng-select>
                                    <!-- <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="getPartbrand()" maxlength="100"
                                            placeholder="Brand Name" [(ngModel)]="spare.Brand" ngxTippy="Enter Brand"
                                            [ngModelOptions]="{ standalone: true }" [itemTemplate]="itemTemplateGeneric"
                                            #inputFieldGeneric>
                                        </ng-autocomplete>
                                    </div>
                                    <ng-template #itemTemplateGeneric let-item>
                                        <a [innerHTML]="item"></a>
                                    </ng-template> -->
                                </td>
                                <td style="padding-left: 2px;padding-right: 2px;">
                                    <input type="text" style="text-align: left" class="ltr:text-right rtl:text-left"
                                        [(ngModel)]="spare.qty" placeholder="Spare Quantity" class="form-input text-xs"
                                        (change)="getPartPrice(spare)" ngxTippy="Spare Quantity"/>
                                </td>
                                <td style="padding-left: 2px;padding-right: 2px;">
                                    <input type="text" style="text-align: left" class="ltr:text-right rtl:text-left"
                                        [(ngModel)]="spare.PRICE" placeholder="Spare PRICE" class="form-input text-xs"
                                        readonly ngxTippy="Spare Price" />
                                </td>
                                <td>
                                    <button type="button" ngxTippy data-tippy-content="Delete Spare"
                                        (click)="deleteSpare(i, spare)">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" class="m-auto h-5 w-5">
                                            <path d="M20.5001 6H3.5" stroke="currentColor" stroke-width="1.5"
                                                stroke-linecap="round" />
                                            <path
                                                d="M18.8334 8.5L18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5"
                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                            <path opacity="0.5" d="M9.5 11L10 16" stroke="currentColor"
                                                stroke-width="1.5" stroke-linecap="round" />
                                            <path opacity="0.5" d="M14.5 11L14 16" stroke="currentColor"
                                                stroke-width="1.5" stroke-linecap="round" />
                                            <path opacity="0.5"
                                                d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6"
                                                stroke="currentColor" stroke-width="1.5" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                        <tr>
                            <td colspan="1">
                                <button type="button" class="btn btn-dark" (click)="addNewSpare()">Add New
                                    Spare</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <!-- <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ inv_details.details.TOTAL_AMOUNT | number : '1.2-2' }}</b>
                        </th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ inv_details.details.TOTAL_VAT_AMOUNT | number : '1.2-2' }}</b>
                        </th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ inv_details.details.TOTAL_VAT_AMOUNT * 1 + inv_details.details.TOTAL_AMOUNT * 1 |
                                number : '1.2-2' }}</b>
                        </th>
                        <th></th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ marginAppliedTotal | number : '1.2-2' }}</b>
                        </th>
                    </tr> -->
                    </tfoot>
                </table>
            </div>
            <div class="table-responsive mt-6" style=" overflow: unset; ">
                <h5 class="mb-3 text-lg font-semibold dark:text-white-light" style="text-align: center">Labour</h5>
                <table class="table-striped" style="background-color: #f6f8fa;">
                    <thead>
                        <tr>
                            <th class="" style="width: 27%">Name</th>
                            <th class="" style="width: 25%">DESCRIPTION</th>
                            <th class="" style="width: 25%">Code</th>
                            <th class="ltr:text-right rtl:text-left" style="width: 15%">PRICE</th>
                            <!-- <th class="ltr:text-right rtl:text-left" style="width: 10%">TOTAL</th> -->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let labour of service_details.Labour; let i = index">
                            <tr>
                                <td style="padding-left: 2px;padding-right: 2px;">
                                    <ng-select [(ngModel)]="labour.Name" [searchable]="true" [clearable]="false"
                                        placeholder="Labour Name" ngxTippy="Select Labour Name"
                                        (change)="getLabourCodeAndDescription(labour)">
                                        <ng-option *ngFor="let labour of labourList" value="{{ labour.lm_name }}">{{
                                            labour.lm_name}}</ng-option>
                                    </ng-select>
                                    <!-- <div class="ng-autocomplete" style="text-transform: uppercase;">
                                        <ng-autocomplete [data]="getLabourName()" maxlength="100"
                                            placeholder="Labour Name" [(ngModel)]="labour.Name"
                                            ngxTippy="Enter Labour Name" [ngModelOptions]="{ standalone: true }"
                                            [itemTemplate]="itemTemplateGeneric" #inputFieldGeneric>
                                        </ng-autocomplete>
                                    </div>
                                    <ng-template #itemTemplateGeneric let-item>
                                        <a [innerHTML]="item"></a>
                                    </ng-template> -->
                                </td>
                                <td style="padding-left: 2px;padding-right: 2px;">
                                    <ng-select [(ngModel)]="labour.Description" [searchable]="true" [clearable]="false"
                                        placeholder="Labour Description" ngxTippy="Select Labour Description">
                                        <!-- <ng-option *ngFor="let labour of labourList"
                                            value="{{ labour.lm_description }}">{{
                                            labour.lm_description}}</ng-option> -->
                                    </ng-select>
                                    <!-- <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="getLabourDescription()" maxlength="100"
                                            placeholder="Description" [(ngModel)]="labour.Description"
                                            ngxTippy="Enter Labour Description" [ngModelOptions]="{ standalone: true }"
                                            [itemTemplate]="itemTemplateGeneric" #inputFieldGeneric>
                                        </ng-autocomplete>
                                    </div>
                                    <ng-template #itemTemplateGeneric let-item>
                                        <a [innerHTML]="item"></a>
                                    </ng-template> -->
                                </td>
                                <td style="padding-left: 2px;padding-right: 2px;">
                                    <div class="ng-autocomplete">
                                        <input type="text" style="text-align: left" class="ltr:text-right rtl:text-left"
                                            [(ngModel)]="labour.Code" placeholder="Labour Code"
                                            class="form-input text-xs" readonly />
                                        <!-- <ng-autocomplete [data]="getLabourCode()" maxlength="100"
                                            placeholder="Labour Code" [(ngModel)]="labour.Code" ngxTippy="Enter Code"
                                            [ngModelOptions]="{ standalone: true }" [itemTemplate]="itemTemplateGeneric"
                                            #inputFieldGeneric>
                                        </ng-autocomplete> -->
                                    </div>
                                    <ng-template #itemTemplateGeneric let-item>
                                        <a [innerHTML]="item"></a>
                                    </ng-template>
                                </td>
                                <td style="padding-left: 2px;padding-right: 2px;">
                                    <input type="text" style="text-align: left" class="ltr:text-right rtl:text-left"
                                        [(ngModel)]="labour.PRICE" placeholder="Labour Price" class="form-input text-xs"
                                        ngxTippy="Enter Labour Price" (change)="getTotalServicePrice()" />
                                </td>
                                <td>
                                    <button type="button" ngxTippy data-tippy-content="Delete Labour"
                                        (click)="deleteLabour(i, labour)">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" class="m-auto h-5 w-5">
                                            <path d="M20.5001 6H3.5" stroke="currentColor" stroke-width="1.5"
                                                stroke-linecap="round" />
                                            <path
                                                d="M18.8334 8.5L18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5"
                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                            <path opacity="0.5" d="M9.5 11L10 16" stroke="currentColor"
                                                stroke-width="1.5" stroke-linecap="round" />
                                            <path opacity="0.5" d="M14.5 11L14 16" stroke="currentColor"
                                                stroke-width="1.5" stroke-linecap="round" />
                                            <path opacity="0.5"
                                                d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6"
                                                stroke="currentColor" stroke-width="1.5" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                        <tr>
                            <td colspan="1">
                                <button type="button" class="btn btn-dark" (click)="addNewLabour()">Add New
                                    Labour</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <!-- <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ inv_details.details.TOTAL_AMOUNT | number : '1.2-2' }}</b>
                        </th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ inv_details.details.TOTAL_VAT_AMOUNT | number : '1.2-2' }}</b>
                        </th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ inv_details.details.TOTAL_VAT_AMOUNT * 1 + inv_details.details.TOTAL_AMOUNT * 1 |
                                number : '1.2-2' }}</b>
                        </th>
                        <th></th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ marginAppliedTotal | number : '1.2-2' }}</b>
                        </th>
                    </tr> -->
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-span-1">
            <div class="panel" style="background-color:rgb(143, 162, 143) ;overflow-y: scroll;height: 100%;"
                *ngIf="Veh_variants.length>0">
                <div class="mb-5 flex items-center justify-between dark:text-white-light">
                    <h5 class="text-lg font-semibold">Vehicle Variants</h5>
                </div>
                <hr class="my-2 dark:border-[#191e3a]" style="border: 1px solid #eee" />
                <div>
                    <div class="space-y-6">
                        <div class="flex" *ngFor="let variants of Veh_variants">
                            <span>{{variants.veh_variant_master}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-2">
            <a style="float: right;">Total Price</a>
        </div>
        <div class="col-span-1">
            <a style="float: right;">AED {{service_details.TotalPrice | number : '1.2-2' }}</a>
        </div>
        <div class="col-span-1">
            <div style="float: right;">
                <button type="button" class="btn btn-success" style="float: right" (click)="saveService()">Save</button>
            </div>
        </div>
    </div>
</div>