<ol class="flex font-semibold text-primary dark:text-white-dark">
    <li class="bg-[#ebedf2] ltr:rounded-l-md rtl:rounded-r-md dark:bg-[#1b2e4b]">
        <a routerLink="/dashboard"
            class="relative flex h-full items-center p-1.5 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-3 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-3 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">Home</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180">My
            Calls</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center p-1.5 px-3 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-6 ltr:before:-right-[15px] rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">Inbound
            Calls</a>
    </li>
</ol>
<div class="panel mt-5 pb-0">
    <div class="mb-5 flex flex-col gap-5 md:flex-row md:items-center">
        <h5 class="text-lg font-semibold dark:text-white-light">Inbound Call Details</h5>
        <div class="flex items-center gap-5 ltr:ml-auto rtl:mr-auto">
            <button type="button" class="btn btn-warning btn-sm" (click)="openUnLoggedCalls()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                    <path stroke-width="1.5" stroke="#ffffff"
                        d="M5.31171 10.7615C8.23007 5.58716 9.68925 3 12 3C14.3107 3 15.7699 5.58716 18.6883 10.7615L19.0519 11.4063C21.4771 15.7061 22.6897 17.856 21.5937 19.428C20.4978 21 17.7864 21 12.3637 21H11.6363C6.21356 21 3.50217 21 2.40626 19.428C1.31034 17.856 2.52291 15.7061 4.94805 11.4063L5.31171 10.7615Z">
                    </path>
                    <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M12 8V13"></path>
                    <circle fill="#ffffff" r="1" cy="16" cx="12"></circle>
                </svg>
                UNHANDLED CALLS
                <span class="badge absolute -top-3 rounded-full bg-danger p-0.5 px-1.5 ltr:right-0 rtl:left-0">{{
                    unLoggedCalls.length }}</span>
            </button>
            <button type="button" class="btn btn-primary btn-sm" (click)="refreshCalls()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 2C14 2 16.2 2.2 19 5C21.8 7.8 22 10 22 10" stroke="#ffffff" stroke-width="1.5"
                        stroke-linecap="round" />
                    <path
                        d="M14.207 5.53564C14.207 5.53564 15.197 5.81849 16.6819 7.30341C18.1668 8.78834 18.4497 9.77829 18.4497 9.77829"
                        stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" />
                    <path
                        d="M4.00655 7.93309C3.93421 9.84122 4.41713 13.0817 7.6677 16.3323C8.45191 17.1165 9.23553 17.7396 10 18.2327M5.53781 4.93723C6.93076 3.54428 9.15317 3.73144 10.0376 5.31617L10.6866 6.4791C11.2723 7.52858 11.0372 8.90532 10.1147 9.8278C10.1147 9.8278 10.1147 9.8278 10.1147 9.8278C10.1146 9.82792 8.99588 10.9468 11.0245 12.9755C13.0525 15.0035 14.1714 13.8861 14.1722 13.8853C14.1722 13.8853 14.1722 13.8853 14.1722 13.8853C15.0947 12.9628 16.4714 12.7277 17.5209 13.3134L18.6838 13.9624C20.2686 14.8468 20.4557 17.0692 19.0628 18.4622C18.2258 19.2992 17.2004 19.9505 16.0669 19.9934C15.2529 20.0243 14.1963 19.9541 13 19.6111"
                        stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" />
                </svg>
                REFRESH CALLS
            </button>
        </div>
    </div>
    <div *ngIf="load_flag" style="text-align: center">
        <span
            class="m-auto mb-10 inline-block h-14 w-14 animate-[spin_3s_linear_infinite] rounded-full border-8 border-b-success border-l-primary border-r-warning border-t-danger align-middle"></span>
    </div>
    <div *ngIf="!load_flag">
        <div class="mb-5 flex flex-col gap-5 md:flex-row md:items-center">
            <input [(ngModel)]="selectedDate" type="date" class="form-input" ngxTippy="Invoice Date From"
                placeholder="Invoice Date From" (change)="getStaffCallLog()" style="width: 25%" />
            <div class="flex items-center gap-5 ltr:ml-auto rtl:mr-auto">
                <div hlMenu class="dropdown">
                    <button hlMenuButton type="button"
                        class="flex items-center rounded-md border border-[#e0e6ed] px-4 py-2 text-sm font-semibold dark:border-[#253b5c] dark:bg-[#1b2e4b] dark:text-white-dark">
                        <span class="ltr:mr-1 rtl:ml-1">Columns</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5">
                            <path d="M19 9L12 15L5 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                    <ul *hlMenuItems @toggleAnimation class="w-max ltr:left-0 rtl:right-0" style="z-index: 100">
                        <ng-container *ngFor="let col of cols; index as i">
                            <li>
                                <div class="flex items-center px-4 py-1">
                                    <label [for]="'chk-' + i" class="mb-0 cursor-pointer">
                                        <input type="checkbox" [id]="'chk-' + i" class="form-checkbox"
                                            [(ngModel)]="!col.hide" (change)="updateColumn(col)" />
                                        <span class="ltr:ml-2 rtl:mr-2">{{ col.title }}</span>
                                    </label>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
                <input [(ngModel)]="search" type="text" class="form-input w-auto" placeholder="Search..." />
            </div>
            <!-- <div class="ltr:ml-auto rtl:mr-auto">
            
        </div> -->
        </div>

        <div class="datatable">
            <ng-datatable [rows]="staffLoggedCalls" [columns]="cols" [search]="search" [sortable]="true"
                [columnFilter]="false" skin="whitespace-nowrap table-hover bh-table-compact"
                firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> '
                previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'>
                <ng-template slot="action" let-value="data">
                    <button type="button" ngxTippy="Update Call Details" (click)="updateCallDetails(value)"
                        class="btn btn-primary btn-sm h-6 w-6 rounded-full p-0" *ngIf="value.pupose_id == '0'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M18.18 8.03933L18.6435 7.57589C19.4113 6.80804 20.6563 6.80804 21.4241 7.57589C22.192 8.34374 22.192 9.58868 21.4241 10.3565L20.9607 10.82M18.18 8.03933C18.18 8.03933 18.238 9.02414 19.1069 9.89309C19.9759 10.762 20.9607 10.82 20.9607 10.82M18.18 8.03933L13.9194 12.2999C13.6308 12.5885 13.4865 12.7328 13.3624 12.8919C13.2161 13.0796 13.0906 13.2827 12.9882 13.4975C12.9014 13.6797 12.8368 13.8732 12.7078 14.2604L12.2946 15.5L12.1609 15.901M20.9607 10.82L16.7001 15.0806C16.4115 15.3692 16.2672 15.5135 16.1081 15.6376C15.9204 15.7839 15.7173 15.9094 15.5025 16.0118C15.3203 16.0986 15.1268 16.1632 14.7396 16.2922L13.5 16.7054L13.099 16.8391M13.099 16.8391L12.6979 16.9728C12.5074 17.0363 12.2973 16.9867 12.1553 16.8447C12.0133 16.7027 11.9637 16.4926 12.0272 16.3021L12.1609 15.901M13.099 16.8391L12.1609 15.901"
                                stroke="#fff" stroke-width="1.5" />
                            <path d="M8 13H10.5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M8 9H14.5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M8 17H9.5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" />
                            <path
                                d="M19.8284 3.17157C18.6569 2 16.7712 2 13 2H11C7.22876 2 5.34315 2 4.17157 3.17157C3 4.34315 3 6.22876 3 10V14C3 17.7712 3 19.6569 4.17157 20.8284C5.34315 22 7.22876 22 11 22H13C16.7712 22 18.6569 22 19.8284 20.8284C20.7715 19.8853 20.9554 18.4796 20.9913 16"
                                stroke="#fff" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </button>
                </ng-template>
                <ng-template slot="lcl_time" let-value="data">
                    <span>{{ value.lcl_time | date : 'medium' }}</span>
                </ng-template>
                <ng-template slot="name" let-value="data">
                    <span style="text-transform: capitalize" class="text-success" *ngIf="value.name != ''"> {{
                        value.name }}</span>
                    <span style="text-transform: capitalize" class="text-warning" *ngIf="!value.name"> New</span>
                </ng-template>
                <ng-template slot="pupose_id" let-value="data">
                    <span *ngIf="value.pupose_id == '1'" class="badge bg-success">Appointment</span>
                    <span class="badge bg-secondary" *ngIf="value.pupose_id == 2">Campaign Enquiry</span>
                    <span class="badge bg-primary" *ngIf="value.pupose_id == 3">Service Request / Quotation</span>
                    <span class="badge bg-info" *ngIf="value.pupose_id == 4">Parts Enquiry</span>
                    <span class="badge bg-warning" *ngIf="value.pupose_id == 5">Complaint</span>
                    <span class="badge bg-info" *ngIf="value.pupose_id == 6">Feedback/PSF</span>
                    <span class="badge bg-dark" *ngIf="value.pupose_id == 7">Others</span>
                    <span class="badge bg-dark" *ngIf="value.pupose_id == 8">Status Enquiry</span>
                    <span class="badge bg-info" *ngIf="value.pupose_id == 9">Wrong Number</span>
                    <span class="badge bg-warning" *ngIf="value.pupose_id == 10">General Enquiry</span>
                    <span class="badge bg-danger" *ngIf="value.pupose_id == 0">NIL</span>
                </ng-template>
                <ng-template slot="lead_code" let-value="data">
                    <button type="button" class="btn btn-outline-primary btn-sm">
                        {{ value.lead_code }}
                    </button>
                </ng-template>
                <ng-template slot="Call_from" let-value="data">
                    <button type="button" class="btn btn-outline-secondary btn-sm"
                        (click)="openCallLogs(value.Call_from)" ngxTippy="{{ value.Call_from }}"
                        [tippyProps]="{ theme: 'info' }">
                        ****{{ value.Call_from | slice : -6 }}
                    </button>
                </ng-template>
                <ng-template slot="call_details" let-value="data">
                    <div *ngIf="!value.call_history_load" style="text-align: center;">
                        <span
                            class="m-auto  inline-block h-7 w-7 animate-spin rounded-full border-8 border-[#f1f2f3] border-l-primary align-middle"></span>
                    </div>
                    <div style="border: 1px solid #00000085; border-radius: 15px; margin-top: 4px; text-align: center"
                        *ngFor="let rowc of value.call_details; let i = index">
                        <span style="display: inline-flex">
                            <p style="margin: 4px; font-size: 12px">{{ rowc.datetime }} -</p>
                            <p style="margin: 4px; font-size: 14px">
                                <b>{{ rowc.dst }}</b>
                            </p>
                        </span><br />
                        <span style="display: inline-flex">
                            <p *ngIf="rowc.disposition == 'NO ANSWER'"
                                style="margin-bottom: 0; font-size: 12px; font-weight: 700; color: red">
                                {{ rowc.disposition }}
                            </p>
                            <p *ngIf="rowc.disposition != 'NO ANSWER'"
                                style="margin-bottom: 0; font-size: 12px; font-weight: 700">{{ rowc.disposition }}</p>
                        </span>
                    </div>
                </ng-template>
            </ng-datatable>
        </div>
    </div>
    <div>
        <modal #unLoggedCallsModal class="modal-top animate animate-slide-in-down extra-large-modal call-view"
            [closeOnOutsideClick]="false">
            <ng-template #modalHeader>
                <div>Log Pending Inbound Calls</div>
            </ng-template>
            <ng-template #modalBody>
                <table class="small_view" style="border: 1px solid #eee">
                    <thead>
                        <tr>
                            <th colspan="6" style="text-align: center; background-color: #eceff1 !important">Recent Call
                                logs</th>
                        </tr>
                        <tr>
                            <th>Number</th>
                            <th>Customer</th>
                            <th>Extension</th>
                            <th>Date & Time</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let lg of unLoggedCalls; let even = even">
                            <ng-container *ngFor="let data of lg.data; let i = index">
                                <tr [ngClass]="even ? ' even_row' : 'odd_row'">
                                    <td [rowSpan]="lg.data.length" *ngIf="i == 0">
                                        <button type="button" class="btn btn-outline-secondary btn-sm"
                                            ngxTippy="{{ lg.src }}" [tippyProps]="{ theme: 'info' }">
                                            ****{{ lg.src | slice : -6 }}
                                        </button>
                                    </td>
                                    <td [rowSpan]="lg.data.length" *ngIf="i == 0"
                                        ngClass="{{ lg.cust_name != '' ? 'text-success' : 'text-info' }}">
                                        {{ lg.cust_name != '' ? lg.cust_name : 'New Customer' }}
                                    </td>
                                    <td>{{ data.datetime | date : 'medium' }}</td>

                                    <td *ngIf="data.disposition == 'NO ANSWER'" class="text-danger">
                                        {{ data.disposition }}
                                    </td>
                                    <td *ngIf="data.disposition != 'NO ANSWER'" class="text-primary">
                                        {{ data.disposition }}
                                    </td>
                                    <td>{{ data.dst }}</td>
                                    <td>
                                        <button type="button" (click)="assignCallOwnership(lg, data)"
                                            class="btn btn-outline-success btn-sm">
                                            Take Ownership
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </ng-template>
            <ng-template #modalFooter>
                <button type="button" (click)="unLoggedCallsModal.close()"
                    class="btn btn-outline-danger">Discard</button>
            </ng-template>
        </modal>
        <modal #inboundCall class="modal-top animate animate-slide-in-down extra-large-modal call-view"
            [closeOnOutsideClick]="false" style="max-width: 90vw">
            <ng-template #modalHeader>
                <div style="align-items: center; display: flex">
                    New Inbound Call - <b>{{ call_data.phone }}</b>
                    <span class="badge badge-outline-primary ml-4" *ngIf="call_data.title_type == ''">{{
                        call_data.title_type }}</span>
                    <span class="badge badge-outline-success ml-4" *ngIf="call_data.title_type != ''">{{
                        call_data.title_type }}</span>
                </div>
            </ng-template>
            <ng-template #modalBody>
                <app-call-log-add-screen [callData]="call_data"
                    (modalEvent)="closeInboundCallModal()"></app-call-log-add-screen>
            </ng-template>
        </modal>
    </div>
</div>
<modal #calllogmodal class="modal-top animate animate-slide-in-down extra-large-modal call-view"
    [closeOnOutsideClick]="false" style="max-width: 90vw;">
    <ng-template #modalHeader>
        <div style=" align-items: center; display: flex; ">
            Recent Call Logs
        </div>
    </ng-template>
    <ng-template #modalBody>
        <app-call-log-detail [calllogphn]="calllogphn"></app-call-log-detail>
    </ng-template>
    <ng-template #modalFooter>
        <button type="button" (click)="callhistoryModal()" class="btn btn-outline-danger">DISMISS</button>
    </ng-template>
</modal>