<ol class="flex font-semibold text-primary dark:text-white-dark">
    <li class="bg-[#ebedf2] ltr:rounded-l-md rtl:rounded-r-md dark:bg-[#1b2e4b]">
        <a routerLink="/dashboard"
            class="relative flex h-full items-center p-1.5 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-3 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-3 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">Home</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180">Lead
            Management</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a routerLink="/leads/appointment/appointment-list"
            class="relative flex h-full items-center p-1.5 px-3 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-6 ltr:before:-right-[15px] rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">Appointment
            Leads</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180">
            Appointment OverDues List</a>
    </li>
</ol>
<div class="panel mb-5 mt-5 pb-5">
    <div class="grid grid-cols-5 gap-4 sm:grid-cols-5">
        <div>
            <input [(ngModel)]="dateFrom" type="date" class="form-input text-xs" placeholder="Date From " />
        </div>
        <div>
            <input [(ngModel)]="dateTo" type="date" class="form-input text-xs" placeholder="Date To " />
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-md" style="width: 50%" size="small"
                (click)="getAppointmentList()">SEARCH</button>
        </div>
    </div>
</div>
<div class="panel mt-5 pb-0">
    <div class="mb-5 flex flex-col gap-5 md:flex-row md:items-center">
        <h5 class="text-lg font-semibold dark:text-white-light">Appointment Lead Details</h5>
        <div class="flex items-center gap-5 ltr:ml-auto rtl:mr-auto">
            <div hlMenu class="dropdown">
                <button hlMenuButton type="button"
                    class="flex items-center rounded-md border border-[#e0e6ed] px-4 py-2 text-sm font-semibold dark:border-[#253b5c] dark:bg-[#1b2e4b] dark:text-white-dark">
                    <span class="ltr:mr-1 rtl:ml-1">Columns</span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5">
                        <path d="M19 9L12 15L5 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
                <ul *hlMenuItems @toggleAnimation class="w-max ltr:left-0 rtl:right-0" style="z-index: 100">
                    <ng-container *ngFor="let col of cols; index as i">
                        <li>
                            <div class="flex items-center px-4 py-1">
                                <label [for]="'chk-' + i" class="mb-0 cursor-pointer">
                                    <input type="checkbox" [id]="'chk-' + i" class="form-checkbox"
                                        [(ngModel)]="!col.hide" (change)="updateColumn(col)" />
                                    <span class="ltr:ml-2 rtl:mr-2">{{ col.title }}</span>
                                </label>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>

            <input [(ngModel)]="search" type="text" class="form-input w-auto" placeholder="Search..." />
        </div>
    </div>
    <div *ngIf="load_flag" style="text-align: center">
        <span
            class="m-auto mb-10 inline-block h-14 w-14 animate-[spin_3s_linear_infinite] rounded-full border-8 border-b-success border-l-primary border-r-warning border-t-danger align-middle"></span>
    </div>
    <div *ngIf="!load_flag">
        <div class="datatable">
            <ng-datatable [rows]="allOverdueAppoints" [columns]="cols" [search]="search" [sortable]="true"
                [columnFilter]="false" skin="whitespace-nowrap table-hover bh-table-compact"
                firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> '
                previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'>
                <ng-template slot="call_from" let-value="data">
                    <button type="button" (click)="openCallLogs(value.call_from)"
                        class="btn btn-outline-secondary btn-sm" ngxTippy="{{ value.call_from }}"
                        [tippyProps]="{ theme: 'info' }">
                        ****{{ value.call_from | slice : -6 }}
                    </button>
                </ng-template>
                <ng-template slot="apptm_code" let-value="data">
                    <button type="button" class="btn btn-outline-primary btn-sm"
                        (click)="viewAppointmentDetails(value)">
                        {{ value.apptm_code }}
                    </button>
                </ng-template>
                <ng-template slot="appt_date" let-value="data">
                    <div class="flex flex-col gap-2 md:flex-row">
                        <svg width="14" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2 12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C22 6.34315 22 8.22876 22 12V14C22 17.7712 22 19.6569 20.8284 20.8284C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.8284C2 19.6569 2 17.7712 2 14V12Z"
                                stroke="#1C274C" stroke-width="1.5" />
                            <path d="M7 4V2.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M17 4V2.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M2.5 9H21.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                            <path
                                d="M18 17C18 17.5523 17.5523 18 17 18C16.4477 18 16 17.5523 16 17C16 16.4477 16.4477 16 17 16C17.5523 16 18 16.4477 18 17Z"
                                fill="#1C274C" />
                            <path
                                d="M18 13C18 13.5523 17.5523 14 17 14C16.4477 14 16 13.5523 16 13C16 12.4477 16.4477 12 17 12C17.5523 12 18 12.4477 18 13Z"
                                fill="#1C274C" />
                            <path
                                d="M13 17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17C11 16.4477 11.4477 16 12 16C12.5523 16 13 16.4477 13 17Z"
                                fill="#1C274C" />
                            <path
                                d="M13 13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13C11 12.4477 11.4477 12 12 12C12.5523 12 13 12.4477 13 13Z"
                                fill="#1C274C" />
                            <path
                                d="M8 17C8 17.5523 7.55228 18 7 18C6.44772 18 6 17.5523 6 17C6 16.4477 6.44772 16 7 16C7.55228 16 8 16.4477 8 17Z"
                                fill="#1C274C" />
                            <path
                                d="M8 13C8 13.5523 7.55228 14 7 14C6.44772 14 6 13.5523 6 13C6 12.4477 6.44772 12 7 12C7.55228 12 8 12.4477 8 13Z"
                                fill="#1C274C" />
                        </svg>
                        {{ value.appt_date }}
                    </div>
                </ng-template>
                <ng-template slot="appoint_time" let-value="data">
                    <div class="flex flex-col gap-2 text-primary md:flex-row">
                        <svg width="14" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5" />
                            <path d="M12 8V12L14.5 14.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                        {{ value.appoint_time }}
                    </div>
                </ng-template>
                <ng-template slot="apptm_status_l" let-value="data">
                    <span *ngIf="value.apptm_status_l == 'Scheduled'" class="badge bg-info">Scheduled</span>
                    <span class="badge bg-secondary" *ngIf="value.apptm_status_l == 'Confirmed'">Confirmed</span>
                    <span class="badge bg-warning" *ngIf="value.apptm_status_l == 'Rescheduled'">Rescheduled</span>
                    <span class="badge bg-danger" *ngIf="value.apptm_status_l == 'Cancelled'">Cancelled</span>
                    <span class="badge bg-success" *ngIf="value.apptm_status_l == 'Visited'">Visited</span>
                </ng-template>
                <ng-template slot="lead_source" let-value="data">
                    <span *ngIf="value.lead_source == null">{{value.apptm_type_l}}</span>
                    <span *ngIf="value.lead_source != null">{{value.lead_source}}</span>
                </ng-template>
                <ng-template slot="apptm_group_l" let-value="data">
                    <span class="btn btn-outline-info btn-sm" *ngIf="value.apptm_group_l == 'Normal'">Normal</span>
                    <span class="btn btn-outline-secondary btn-sm"
                        *ngIf="value.apptm_group_l == 'Campaign'">Campaign</span>
                </ng-template>
                <ng-template slot="action" let-value="data">
                    <div>
                        <button type="button" class="ltr:mr-2 rtl:ml-2" ngxTippy="Edit"
                            (click)="viewAppointmentDetails(value)">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="h-4.5 w-4.5 text-success">
                                <path
                                    d="M15.2869 3.15178L14.3601 4.07866L5.83882 12.5999L5.83881 12.5999C5.26166 13.1771 4.97308 13.4656 4.7249 13.7838C4.43213 14.1592 4.18114 14.5653 3.97634 14.995C3.80273 15.3593 3.67368 15.7465 3.41556 16.5208L2.32181 19.8021L2.05445 20.6042C1.92743 20.9852 2.0266 21.4053 2.31063 21.6894C2.59466 21.9734 3.01478 22.0726 3.39584 21.9456L4.19792 21.6782L7.47918 20.5844L7.47919 20.5844C8.25353 20.3263 8.6407 20.1973 9.00498 20.0237C9.43469 19.8189 9.84082 19.5679 10.2162 19.2751C10.5344 19.0269 10.8229 18.7383 11.4001 18.1612L11.4001 18.1612L19.9213 9.63993L20.8482 8.71306C22.3839 7.17735 22.3839 4.68748 20.8482 3.15178C19.3125 1.61607 16.8226 1.61607 15.2869 3.15178Z"
                                    stroke="currentColor" stroke-width="1.5" />
                                <path opacity="0.5"
                                    d="M14.36 4.07812C14.36 4.07812 14.4759 6.04774 16.2138 7.78564C17.9517 9.52354 19.9213 9.6394 19.9213 9.6394M4.19789 21.6777L2.32178 19.8015"
                                    stroke="currentColor" stroke-width="1.5" />
                            </svg>
                        </button>
                    </div>
                </ng-template>
            </ng-datatable>
        </div>
    </div>
</div>
<modal #calllogmodal class="modal-top animate animate-slide-in-down extra-large-modal call-view"
    [closeOnOutsideClick]="false" style="max-width: 90vw">
    <ng-template #modalHeader>
        <div style="align-items: center; display: flex">Recent Call Logs</div>
    </ng-template>
    <ng-template #modalBody>
        <app-call-log-detail [calllogphn]="calllogphn"></app-call-log-detail>
    </ng-template>
    <ng-template #modalFooter>
        <button type="button" (click)="callhistoryModal()" class="btn btn-outline-danger">DISMISS</button>
    </ng-template>
</modal>