<ol class="flex font-semibold text-primary dark:text-white-dark">
    <li class="bg-[#ebedf2] ltr:rounded-l-md rtl:rounded-r-md dark:bg-[#1b2e4b]">
        <a
            routerLink="/dashboard"
            class="relative flex h-full items-center p-1.5 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-3 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-3 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70"
            >Home</a
        >
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180"
        >
            Periodic Service</a
        >
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            routerLink="/servicePackageRequested"
            class="relative flex h-full items-center p-1.5 px-3 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-6 ltr:before:-right-[15px] rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70"
        >
            Service Package Requested</a
        >
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180"
        >
            Service Package</a
        >
    </li>
</ol>

<div *ngIf="!load_flag" style="text-align: center">
    <span
        class="m-auto mb-10 inline-block h-14 w-14 animate-[spin_3s_linear_infinite] rounded-full border-8 border-b-success border-l-primary border-r-warning border-t-danger align-middle"
    ></span>
</div>

<div class="panel mb-5 mt-5 pb-5" *ngIf="load_flag">
    <div class="grid grid-cols-3 items-start gap-4" *ngIf="requestedServicePackage">
        <div>
            <label>Model Code</label>
            <input [(ngModel)]="model_code" type="text" placeholder="Model Number" class="form-input text-xs" maxlength="5" [disabled]="true" />
        </div>

        <div>
            <label>Vin No</label>
            <input [(ngModel)]="vin_no" type="text" placeholder="Model Number" class="form-input text-xs" maxlength="20" [disabled]="true" />
        </div>

        <div>
            <label>Variant</label>
            <input [(ngModel)]="variant" type="text" placeholder="Model Number" class="form-input text-xs" maxlength="50" [disabled]="true" />
        </div>

        <div>
            <label>Model Year</label>
            <input [(ngModel)]="model_year" type="text" placeholder="Model Number" class="form-input text-xs" maxlength="20" [disabled]="true" />
        </div>

        <div class="min-h-[90px]">
            <label>Engine No*</label>
            <ng-select
                class="custom-multiselect"
                fullWidth
                [items]="engines"
                bindLabel="eng_no"
                bindValue="eng_id"
                [(ngModel)]="engineNO"
                [searchable]="true"
                [clearable]="false"
                placeholder="Select Engine Numbers"
                [multiple]="false"
                [ngModelOptions]="{ standalone: true }"
                (change)="getPartsForEngineNo(engineNO)"
            >
            </ng-select>
            <label *ngIf="!engineNO" class="mt-1 block text-xs text-red-500"> Please Select An Engine No </label>
        </div>

        <div *ngIf="requestedServicePackage.spmc_type == '1' || copiedModelCode" class="mt-8 flex flex-col items-end space-y-2">
            <div
                *ngIf="requestedServicePackage.spmc_type == '1'"
                class="inline-block rounded-full bg-gradient-to-r from-blue-700 to-blue-500 px-4 py-1 text-sm font-semibold text-white shadow-md"
            >
                Facelift Service Package
            </div>

            <div
                *ngIf="copiedModelCode"
                class="inline-block rounded-full bg-gradient-to-r from-blue-700 to-blue-500 px-4 py-1 text-sm font-semibold text-white shadow-md"
            >
                Copied Model Code : {{ copiedModelCode }}
            </div>
        </div>

        <!-- Facelift badge outside all input divs, aligned right -->
        <!-- <div *ngIf="requestedServicePackage.spmc_type == '1'" class="mt-8 flex justify-end">
            <div class="inline-block rounded-full bg-gradient-to-r from-blue-700 to-blue-500 px-4 py-1 text-sm font-semibold text-white shadow-md">
                Facelift Service Package
            </div>
        </div>

        <div *ngIf="copiedModelCode" class="mt-8 flex justify-end">
            <div class="inline-block rounded-full bg-gradient-to-r from-blue-700 to-blue-500 px-4 py-1 text-sm font-semibold text-white shadow-md">
                Copied Model Code : {{ copiedModelCode }}
            </div>
        </div> -->
    </div>

    <hr class="my-6 border-[#e0e6ed] dark:border-[#1b2e4b]" />

    <div class="table-responsive mt-6" style="overflow: unset" *ngIf="service_details.parts?.length > 0">
        <h5 class="mb-3 text-lg font-semibold dark:text-white-light" style="text-align: center">Spare</h5>
        <table class="table-striped" style="background-color: #f6f8fa">
            <thead>
                <tr>
                    <th class="" style="width: 5%">Applicable</th>
                    <th class="" style="width: 24%">Description</th>
                    <th class="" style="width: 20%">Part Code</th>
                    <th class="" style="width: 20%">Brand</th>
                    <th class="" style="width: 10%">Unit</th>
                    <th class="" style="width: 10%">Quantity</th>
                    <!-- <th class="ltr:text-right rtl:text-left" style="width: 11%">Unit Price</th> -->
                    <!-- <th class="" style="width: 11%">Labour Unit</th> -->
                    <!-- <th class="ltr:text-right rtl:text-left" style="width: 10%">TOTAL</th> -->
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let spare of service_details.parts; let i = index">
                    <tr *ngIf="spare.sp_spare_delete_flag == '0'">
                        <td>
                            <div
                                class="flex h-5 w-5 items-center justify-center rounded-md"
                                [ngClass]="spare.applicable == 1 ? 'bg-[#4C6EF5] text-white' : 'bg-gray-100 text-transparent'"
                            >
                                <svg *ngIf="spare.applicable == 1" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                    <path
                                        fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 00-1.414 0L8 12.586 4.707 9.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l8-8a1 1 0 000-1.414z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </div>
                        </td>

                        <td style="padding-left: 2px; padding-right: 2px">
                            <!-- <div class="ng-autocomplete">
                                <ng-autocomplete [data]="descriptions" [searchKeyword]="spareSearch"
                                    placeholder="Part Name" maxlength="60" [(ngModel)]="spare.DESCRIPTION"
                                    [ngModelOptions]="{ standalone: true }" name="p_item_name_{{ i }}"
                                    class="custom-multiselect" [itemTemplate]="itemTemplate" #inputField>
                                </ng-autocomplete>
                            </div>
                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item"></a>
                            </ng-template> -->
                            <ng-select
                                [(ngModel)]="spare.DESCRIPTION"
                                [searchable]="true"
                                [clearable]="false"
                                placeholder="Part Name"
                                ngxTippy="Select Part Name"
                                (change)="getPartcode(spare)"
                                [disabled]="true"
                            >
                                <!-- For dropdown items -->
                                <ng-option *ngFor="let part of descriptions" [value]="part">
                                    {{ toTitleCase(part) }}
                                </ng-option>

                                <!-- For selected item -->
                                <ng-template ng-label-tmp let-item="item">
                                    {{ toTitleCase(item) }}
                                </ng-template>
                            </ng-select>
                        </td>
                        <td style="padding-left: 2px; padding-right: 2px">
                            <div class="ng-autocomplete">
                                <ng-autocomplete
                                    [data]="partcodes"
                                    [searchKeyword]="spareCodeSearch"
                                    placeholder="Part Code"
                                    maxlength="30"
                                    [(ngModel)]="spare.PART_NO"
                                    [ngModelOptions]="{ standalone: true }"
                                    name="p_item_code_{{ i }}"
                                    class="custom-multiselect"
                                    [itemTemplate]="itemTemplateCode"
                                    ngxTippy="Enter Part Code"
                                    (ngModelChange)="getPartsBasedOnPartcode(spare)"
                                    [disabled]="true"
                                >
                                </ng-autocomplete>
                            </div>
                            <ng-template #itemTemplateCode let-item>
                                <a [innerHTML]="item"></a>
                            </ng-template>
                            <!-- <ng-select [(ngModel)]="spare.PART_NO" [searchable]="true" [clearable]="false"
                                placeholder="Part Number" ngxTippy="Select Part No" (change)="getPartPrice(spare)">
                                <ng-option *ngFor="let parts of filteredList" value="{{ parts.pm_code }}">{{
                                    parts.pm_code}}</ng-option>
                            </ng-select> -->
                        </td>
                        <td style="padding-left: 2px; padding-right: 2px">
                            <ng-select
                                [items]="brandList"
                                bindLabel="brand_name"
                                bindValue="brand_id"
                                [searchable]="true"
                                [clearable]="false"
                                [selectOnTab]="true"
                                class="custom-multiselect"
                                placeholder="Select Brand"
                                [(ngModel)]="spare.Brand"
                                name="p_part_brand"
                                ngxTippy="Select Brand"
                                [ngModelOptions]="{ standalone: true }"
                                [disabled]="true"
                            >
                            </ng-select>
                            <!-- <ng-select [(ngModel)]="spare.Brand" [searchable]="true" [clearable]="false"
                                placeholder="Brand Name" ngxTippy="Select Brand Name" (change)="getPartPrice(spare)">
                                <ng-option *ngFor="let parts of filteredList" value="{{ parts.brand_name }}">{{
                                    parts.brand_name}}</ng-option>
                            </ng-select> -->
                        </td>
                        <td style="padding-left: 2px; padding-right: 2px">
                            <ng-select
                                [clearable]="false"
                                [selectOnTab]="true"
                                class="custom-multiselect"
                                placeholder="Select Unit Type"
                                [(ngModel)]="spare.unit_type"
                                name="p_part_brand"
                                [ngModelOptions]="{ standalone: true }"
                                ngxTippy="Select Unit Type"
                                [disabled]="true"
                            >
                                <ng-option value="1">Unit</ng-option>
                                <ng-option value="2">Litre</ng-option>
                            </ng-select>
                        </td>
                        <td style="padding-left: 2px; padding-right: 2px">
                            <input
                                type="text"
                                style="text-align: left"
                                class="ltr:text-right rtl:text-left"
                                [(ngModel)]="spare.qty"
                                placeholder="Spare Quantity"
                                class="form-input text-xs"
                                (ngModelChange)="getPartPrice(spare)"
                                ngxTippy="Spare Quantity"
                                readonly="true"
                            />
                        </td>
                        <!-- <td style="padding-left: 2px; padding-right: 2px">
                            <input
                                type="text"
                                style="text-align: right"
                                class="ltr:text-right rtl:text-left"
                                [(ngModel)]="spare.PRICE"
                                placeholder="Spare PRICE"
                                class="form-input text-xs"
                                ngxTippy="Spare Price"
                               
                            /> -->
                        <!--  (change)="checkPartPrice(spare)" -->
                        <!-- <input type="text" style="text-align: left" class="ltr:text-right rtl:text-left"
                                [(ngModel)]="spare.PRICE" placeholder="Spare PRICE" class="form-input text-xs" readonly
                                ngxTippy="Spare Price" /> -->
                        <!-- </td> -->
                    </tr>
                </ng-container>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <!-- consumables -->
    <div class="table-responsive mt-6" style="overflow: unset" *ngIf="engineNO">
        <h5 class="mb-3 text-lg font-semibold dark:text-white-light" style="text-align: center">Consumables</h5>
        <table class="table-striped" style="background-color: #f6f8fa">
            <thead>
                <tr>
                    <th class="" style="width: 5%">Applicable</th>
                    <th class="" style="width: 24%">Description</th>
                    <th class="" style="width: 20%">Part Code</th>
                    <th class="" style="width: 20%">Brand</th>
                    <th class="" style="width: 10%">Unit</th>
                    <th class="" style="width: 10%">Quantity</th>
                    <th class="ltr:text-right rtl:text-left" style="width: 11%">Unit Price</th>
                    <!-- <th class="" style="width: 11%">Labour Unit</th> -->
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let consumable of service_details.consumables; let i = index">
                    <tr *ngIf="consumable.sp_spare_delete_flag == '0'">
                        <td>
                            <input
                                type="checkbox"
                                class="form-checkbox"
                                [(ngModel)]="consumable.applicable"
                                [ngModelOptions]="{ standalone: true }"
                                (change)="onApplicableChange(consumable, $event)"
                                [checked]="consumable.applicable == 1"
                            />
                        </td>
                        <td style="padding-left: 2px; padding-right: 2px">
                            <ng-select
                                [(ngModel)]="consumable.DESCRIPTION"
                                [searchable]="true"
                                [clearable]="false"
                                placeholder="Part Name"
                                ngxTippy="Select Part Name"
                                (change)="getPartcode(consumable)"
                                [disabled]="true"
                            >
                                <ng-option *ngFor="let part of consumablesNames" [value]="part">
                                    {{ part }}
                                </ng-option>
                            </ng-select>
                        </td>
                        <td style="padding-left: 2px; padding-right: 2px">
                            <div class="ng-autocomplete">
                                <ng-select
                                    [items]="partcodes"
                                    bindLabel="sp_pm_code"
                                    bindValue="sp_pm_code"
                                    placeholder="Select Part Code"
                                    [searchable]="true"
                                    [clearable]="false"
                                    [(ngModel)]="consumable.PART_NO"
                                    [ngModelOptions]="{ standalone: true }"
                                    name="p_item_code_{{ i }}"
                                    class="custom-multiselect"
                                    [disabled]="consumable.applicable != 1"
                                    (change)="getConsumablePrice(consumable)"
                                >
                                </ng-select>
                                <!-- <ng-autocomplete
                                    [data]="partcodes"
                                    [searchKeyword]="spareCodeSearch"
                                    placeholder="Part Code"
                                    maxlength="30"
                                    [(ngModel)]="consumable.PART_NO"
                                    [ngModelOptions]="{ standalone: true }"
                                    name="p_item_code_{{ i }}"
                                    class="custom-multiselect"
                                    [itemTemplate]="itemTemplateCode"
                                    ngxTippy="Enter Part Code"
                                    [disabled]="consumable.applicable != 1"
                                    (ngModelChange)="getConsumablePrice(consumable)"
                                >
                                </ng-autocomplete> -->
                            </div>
                            <ng-template #itemTemplateCode let-item>
                                <a [innerHTML]="item"></a>
                            </ng-template>
                        </td>
                        <td style="padding-left: 2px; padding-right: 2px">
                            <ng-select
                                [items]="brandList"
                                bindLabel="brand_name"
                                bindValue="brand_id"
                                [searchable]="true"
                                [clearable]="false"
                                [selectOnTab]="true"
                                class="custom-multiselect"
                                placeholder="Select Brand"
                                [(ngModel)]="consumable.Brand"
                                name="p_part_brand"
                                ngxTippy="Select Brand"
                                [ngModelOptions]="{ standalone: true }"
                                [disabled]="true"
                            >
                            </ng-select>
                        </td>
                        <td style="padding-left: 2px; padding-right: 2px">
                            <ng-select
                                [clearable]="false"
                                [selectOnTab]="true"
                                class="custom-multiselect"
                                placeholder="Select Unit Type"
                                [(ngModel)]="consumable.unit_type"
                                name="p_part_brand"
                                [ngModelOptions]="{ standalone: true }"
                                ngxTippy="Select Unit Type"
                            >
                                <ng-option value="1">Unit</ng-option>
                                <ng-option value="2">Litre</ng-option>
                            </ng-select>
                        </td>
                        <td style="padding-left: 2px; padding-right: 2px">
                            <input
                                type="text"
                                style="text-align: left"
                                class="ltr:text-right rtl:text-left"
                                [(ngModel)]="consumable.qty"
                                placeholder="Quantity"
                                class="form-input text-xs"
                                (ngModelChange)="getPartPrice(consumable)"
                                ngxTippy="Consumable Quantity"
                            />
                        </td>
                        <td style="padding-left: 2px; padding-right: 2px">
                            <input
                                type="text"
                                style="text-align: right"
                                class="ltr:text-right rtl:text-left"
                                [(ngModel)]="consumable.PRICE"
                                placeholder="UNIT PRICE"
                                class="form-input text-xs"
                                ngxTippy="Consumable Price"
                                readonly
                            />
                        </td>
                        <!-- <td style="padding-left: 2px; padding-right: 2px">
                            <input
                                type="text"
                                style="text-align: left"
                                class="ltr:text-right rtl:text-left"
                                [(ngModel)]="consumable.sp_spare_labour_unit"
                                placeholder="Labour Unit"
                                class="form-input text-xs"
                                ngxTippy="Labour Unit"
                            />
                        </td> -->
                    </tr>
                </ng-container>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <div class="table-responsive mt-6" style="overflow: unset" *ngIf="engineNO">
        <h5 class="mb-3 text-lg font-semibold dark:text-white-light" style="text-align: center">Labour</h5>
        <table class="table-striped" style="background-color: #f6f8fa">
            <thead>
                <tr>
                    <th style="width: 10%">Applicable</th>
                    <th style="width: 45%">Name</th>
                    <!-- <th style="width: 12%">Unit</th>
                    <th style="width: 10%">Quantity</th>
                    <th class="ltr:text-right rtl:text-left" style="width: 20%">Unit Price</th> -->
                    <th style="width: 45%">Labour Unit</th>
                    <!-- <th class="" style="width: 30%">DESCRIPTION</th>
                    <th class="" style="width: 15%">UNIT</th>
                    <th class="ltr:text-right rtl:text-left" style="width: 15%">UNIT PRICE</th> -->
                    <!-- <th class="ltr:text-right rtl:text-left" style="width: 10%">TOTAL</th> -->
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let labour of service_details.Labour; let i = index">
                    <tr *ngIf="labour.sp_labour_delete_flag == '0'">
                        <td>
                            <input
                                type="checkbox"
                                class="form-checkbox"
                                [(ngModel)]="labour.applicable"
                                [ngModelOptions]="{ standalone: true }"
                                (change)="onApplicableChange(labour, $event)"
                                [checked]="labour.applicable == 1"
                            />
                        </td>
                        <td style="padding-left: 2px; padding-right: 2px">
                            <ng-select
                                class="custom-multiselect"
                                fullWidth
                                [items]="labourNames"
                                bindLabel="sp_pm_name"
                                bindValue="sp_pm_id"
                                [(ngModel)]="labour.Name"
                                [searchable]="true"
                                [clearable]="false"
                                placeholder="Select Labour Name"
                                [multiple]="false"
                                [ngModelOptions]="{ standalone: true }"
                                [disabled]="true"
                            >
                            </ng-select>
                            <!-- <ng-select [(ngModel)]="labour.Name" [searchable]="true" [clearable]="false"
                                placeholder="Labour Name" ngxTippy="Select Labour Name">
                                <ng-option *ngFor="let labour of labourNames" value="{{ labour.sp_pm_name }}">{{
                                    labour.sp_pm_name}}</ng-option>
                            </ng-select> -->
                        </td>
                        <!-- <td style="padding-left: 2px;padding-right: 2px;">
                            <ng-select [clearable]="false" [selectOnTab]="true" class="custom-multiselect"
                                placeholder="Select Unit Type" [(ngModel)]="labour.unit_type" name="p_part_brand"
                                [ngModelOptions]="{ standalone: true }" ngxTippy="Select Unit Type"
                                [disabled]="labour.sp_pm_category == '2' || labour.sp_pm_category == 2 ">
                                <ng-option value="1">Unit</ng-option>
                                <ng-option value="2">Litre</ng-option>
                            </ng-select>
                        </td> -->
                        <!-- <td style="padding-left: 2px;padding-right: 2px;">
                            <input type="text" style="text-align: left" class="ltr:text-right rtl:text-left"
                                [(ngModel)]="labour.qty" placeholder="Quantity" class="form-input text-xs"
                                ngxTippy="Quantity" [disabled]="labour.sp_pm_category == '2' || labour.sp_pm_category == 2 "
                                (ngModelChange)="getTotalServicePrice()" />
                        </td> -->
                        <!-- <td style="padding-left: 2px;padding-right: 2px;">
                            <input type="text" style="text-align: right" class="ltr:text-right rtl:text-left"
                                [(ngModel)]="labour.PRICE" placeholder="PRICE" class="form-input text-xs"
                                ngxTippy="Labour Price" (ngModelChange)="getTotalServicePrice()"
                                [disabled]="labour.sp_pm_category == '2' || labour.sp_pm_category == 2 " />
                            <input type="text" style="text-align: left" class="ltr:text-right rtl:text-left"
                                [(ngModel)]="spare.PRICE" placeholder="Spare PRICE" class="form-input text-xs" readonly
                                ngxTippy="Spare Price" />
                        </td> -->
                        <!-- <td style="padding-left: 2px; padding-right: 2px;">
                            <ng-select [(ngModel)]="labour.Description" [searchable]="true" [clearable]="false"
                                [disabled]="true" placeholder="Labour Description" ngxTippy="Select Labour Description">
                            </ng-select>
                        </td> -->
                        <td style="padding-left: 2px; padding-right: 2px">
                            <div class="ng-autocomplete">
                                <input
                                    type="text"
                                    style="text-align: left"
                                    class="form-input text-xs ltr:text-right rtl:text-left"
                                    [(ngModel)]="labour.unit"
                                    placeholder="Labour Unit"
                                    (ngModelChange)="getTotalServicePrice()"
                                />
                            </div>
                        </td>
                        <!-- <td style="padding-left: 2px;padding-right: 2px;">
                            <input type="text" style="text-align: left" class="ltr:text-right rtl:text-left"
                                [(ngModel)]="labour.PRICE" placeholder="Labour Price" class="form-input text-xs"
                                ngxTippy="Labour Price" readonly />
                        </td> -->
                        <!-- <td>
                            <button type="button" ngxTippy data-tippy-content="Delete Labour"
                                (click)="deleteLabour(i, labour)">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="m-auto h-5 w-5">
                                    <path d="M20.5001 6H3.5" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" />
                                    <path
                                        d="M18.8334 8.5L18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                    <path opacity="0.5" d="M9.5 11L10 16" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" />
                                    <path opacity="0.5" d="M14.5 11L14 16" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" />
                                    <path opacity="0.5"
                                        d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6"
                                        stroke="currentColor" stroke-width="1.5" />
                                </svg>
                            </button>
                        </td> -->
                    </tr>
                </ng-container>
                <tr>
                    <!-- <td colspan="2">
                        <button type="button" class="btn btn-dark" (click)="addNewLabour()">Add New
                            Labour</button>
                    </td> -->
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <!-- <td></td>
                    <td></td> -->
                    <!-- <td style="float: right;"></td> -->
                    <td>
                        <div style="margin-top: 1.5rem; display: flex; justify-content: flex-end; align-items: center; gap: 12.5rem">
                            <strong>Total Unit:</strong>
                            <strong>
                                {{ service_details.unit }}
                            </strong>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="mt-6 flex justify-end" *ngIf="engineNO">
        <div class="flex items-center gap-2">
            <!-- Draft button -->
            <button type="button" class="btn btn-secondary flex items-center gap-2" (click)="saveServicePackage(8)" [disabled]="saveFlag || draftButtonFlag">
                <span *ngIf="!draftButtonFlag"> Save As Draft</span>
                <span *ngIf="draftButtonFlag">Saving...</span>
                <span *ngIf="draftButtonFlag" class="loader h-4 w-4 animate-spin rounded-full border-2 border-white border-t-transparent"></span>
            </button>
            <!-- Save button -->

            <button
                type="button"
                [disabled]="saveFlag"
                [ngClass]="
                    user_role == '1' || user_role == '10' || user_role == '13' || user_role == '2'
                        ? 'btn btn-primary flex items-center gap-2'
                        : 'btn btn-success flex items-center gap-2'
                "
                (click)="saveServicePackage(2)"
            >
                <ng-container>
                    <span *ngIf="!saveFlag"> Save </span>
                    <span *ngIf="saveFlag">Saving...</span>
                </ng-container>
            </button>
        </div>
    </div>

    <!-- <div class="mt-6 flex justify-end">
        <button type="button" [ngClass]="user_role == '1' || user_role == '10' ? 'btn btn-primary' : 'btn btn-success'"
            (click)="saveServicePackage()">
            {{ user_role == '1' || user_role == '10' ? 'Proceed to Finalisation' : 'Save' }}
        </button>
    </div> -->
</div>
<modal #partsModal class="modal-top animate animate-slide-in-down extra-large-modal call-view" [closeOnOutsideClick]="false" style="max-width: 90vw">
    <ng-template #modalHeader>
        <div style="align-items: center; display: flex">Price List</div>
    </ng-template>
    <ng-template #modalBody>
        <div style="max-height: 70vh; overflow-y: auto">
            <h2 class="text-center text-2xl">
                Consumables and Labour for Engine No. <b>{{ getSelectedEngineNo() }}</b> are already listed below.
                <br />
                Do you want to copy these Consumables and Labour items for the current Model Code <b>{{ model_code }}</b
                >?
            </h2>

            <table class="mt-4 w-full table-auto border border-gray-300 text-sm">
                <thead class="bg-gray-100 text-left">
                    <tr>
                        <th class="border px-4 py-2">Engine No</th>
                        <th class="border px-4 py-2">Model Code</th>
                        <th class="border px-4 py-2">Model Year</th>
                        <!-- <th class="border px-4 py-2">Total Labour Unit</th> -->
                        <th class="border px-4 py-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let part of enginePartsList">
                        <td class="border px-4 py-2">{{ part.eng_no }}</td>
                        <td class="border px-4 py-2">{{ part.model_code }}</td>
                        <td class="border px-4 py-2">{{ part.spmc_model_year }}</td>
                        <!-- <td class="border px-4 py-2">{{ part.totalConsumablesPrice | number : '1.2-2' }}</td> -->
                        <!-- <td class="border px-4 py-2">{{ part.totalLabourUnit }}</td> -->
                        <td class="border px-4 py-2">
                            <button type="button" class="btn btn-primary text-white" (click)="copyConsuamblesOperations(part)">Copy</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>

    <ng-template #modalFooter>
        <button type="button" class="btn btn-danger text-white" (click)="this.partsModal.close()">Dismiss</button>
    </ng-template>
</modal>
