<div style="display: flex; justify-content: flex-end" class="mt-5" *ngIf="!data_load_flag">
    <button type="button" class="btn btn-outline-primary btn-sm" style="float: right"
        (click)="createQuoteVersion()">CREATE NEW QUOTE VERSION</button>

</div>
<ng-container *ngIf="!data_load_flag">
    <div *ngFor="let item_version of qt_versions; let i = index" class="borderRow">
        <div class="mb-2 grid grid-cols-1 gap-1 md:grid-cols-2 lg:grid-cols-2" style="align-items: center;">
            <div>
                <h3 class="m-0 dark:text-white-dark" style="font-weight: 900;">#{{ quoteCode }}_V{{
                    item_version.qvm_version_no | number : "1.1-1"
                    }} </h3>
            </div>
            <div style="display: flex; justify-content: flex-end">
                <button type="button" class="btn btn-success btn-sm mr-4" (click)="openQuoteVersion(item_version)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                        <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff"
                            d="M14.3601 4.07866L15.2869 3.15178C16.8226 1.61607 19.3125 1.61607 20.8482 3.15178C22.3839 4.68748 22.3839 7.17735 20.8482 8.71306L19.9213 9.63993M14.3601 4.07866C14.3601 4.07866 14.4759 6.04828 16.2138 7.78618C17.9517 9.52407 19.9213 9.63993 19.9213 9.63993M14.3601 4.07866L12 6.43872M19.9213 9.63993L14.6607 14.9006L11.5613 18L11.4001 18.1612C10.8229 18.7383 10.5344 19.0269 10.2162 19.2751C9.84082 19.5679 9.43469 19.8189 9.00498 20.0237C8.6407 20.1973 8.25352 20.3263 7.47918 20.5844L4.19792 21.6782M4.19792 21.6782L3.39584 21.9456C3.01478 22.0726 2.59466 21.9734 2.31063 21.6894C2.0266 21.4053 1.92743 20.9852 2.05445 20.6042L2.32181 19.8021M4.19792 21.6782L2.32181 19.8021M2.32181 19.8021L3.41556 16.5208C3.67368 15.7465 3.80273 15.3593 3.97634 14.995C4.18114 14.5653 4.43213 14.1592 4.7249 13.7838C4.97308 13.4656 5.26166 13.1771 5.83882 12.5999L8.5 9.93872">
                        </path>
                    </svg>
                    EDIT
                </button>
                <div hlMenu class="dropdown"
                    *ngIf="user_role == '2' || user_role == '13' || us_id == '13' || user_role == '1'">
                    <button type="button" hlMenuButton class="btn btn-warning btn-sm dropdown-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M9 10H6"></path>
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M19 14L5 14"></path>
                            <circle fill="#ffffff" r="1" cy="10" cx="17"></circle>
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M15 16.5H9"></path>
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M13 19H9"></path>
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff"
                                d="M22 12C22 14.8284 22 16.2426 21.1213 17.1213C20.48 17.7626 19.5535 17.9359 18 17.9827M6 17.9827C4.44655 17.9359 3.51998 17.7626 2.87868 17.1213C2 16.2426 2 14.8284 2 12C2 9.17157 2 7.75736 2.87868 6.87868C3.75736 6 5.17157 6 8 6H16C18.8284 6 20.2426 6 21.1213 6.87868C21.4211 7.17848 21.6186 7.54062 21.7487 8">
                            </path>
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff"
                                d="M17.9827 6C17.9359 4.44655 17.7626 3.51998 17.1213 2.87868C16.2426 2 14.8284 2 12 2C9.17157 2 7.75736 2 6.87868 2.87868C6.23738 3.51998 6.06413 4.44655 6.01732 6M18 15V16C18 18.8284 18 20.2426 17.1213 21.1213C16.48 21.7626 15.5535 21.9359 14 21.9827M6 15V16C6 18.8284 6 20.2426 6.87868 21.1213C7.51998 21.7626 8.44655 21.9359 10 21.9827">
                            </path>
                        </svg>
                        PRINTS
                    </button>
                    <ul *hlMenuItems class="whitespace-nowrap ltr:right-0 rtl:left-0">
                        <li><a (click)="printQuoteVersion(item_version,1)">Grouped View</a></li>
                        <!-- <li><a (click)="printQuoteVersion(item_version,2)">Combined Parts View</a></li> -->
                        <li><a (click)="printQuoteVersion(item_version,3)">Combined Labour And Parts View</a></li>
                        <li><a (click)="printQuoteVersion(item_version,4)">Parts View</a></li>
                    </ul>
                </div>
                <div hlMenu class="dropdown"
                    *ngIf="user_role != '2' && user_role != '13' && us_id != '13' &&  user_role != '1'">
                    <button type="button" hlMenuButton class="btn btn-warning btn-sm dropdown-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M9 10H6"></path>
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M19 14L5 14"></path>
                            <circle fill="#ffffff" r="1" cy="10" cx="17"></circle>
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M15 16.5H9"></path>
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M13 19H9"></path>
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff"
                                d="M22 12C22 14.8284 22 16.2426 21.1213 17.1213C20.48 17.7626 19.5535 17.9359 18 17.9827M6 17.9827C4.44655 17.9359 3.51998 17.7626 2.87868 17.1213C2 16.2426 2 14.8284 2 12C2 9.17157 2 7.75736 2.87868 6.87868C3.75736 6 5.17157 6 8 6H16C18.8284 6 20.2426 6 21.1213 6.87868C21.4211 7.17848 21.6186 7.54062 21.7487 8">
                            </path>
                            <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff"
                                d="M17.9827 6C17.9359 4.44655 17.7626 3.51998 17.1213 2.87868C16.2426 2 14.8284 2 12 2C9.17157 2 7.75736 2 6.87868 2.87868C6.23738 3.51998 6.06413 4.44655 6.01732 6M18 15V16C18 18.8284 18 20.2426 17.1213 21.1213C16.48 21.7626 15.5535 21.9359 14 21.9827M6 15V16C6 18.8284 6 20.2426 6.87868 21.1213C7.51998 21.7626 8.44655 21.9359 10 21.9827">
                            </path>
                        </svg>
                        PRINTS
                    </button>
                    <ul *hlMenuItems class="whitespace-nowrap ltr:right-0 rtl:left-0">
                        <li><a (click)="printQuoteVersion(item_version,1)">Grouped View</a></li>
                        <li><a (click)="printQuoteVersion(item_version,4)">Parts View</a></li>
                    </ul>
                </div>
                <!-- <button type="button" class="btn btn-warning btn-sm" (click)="printQuoteVersion(item_version,1)"
                    *ngIf="user_role != '2' && user_role != '13' && us_id != '13' &&  user_role != '1'">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                        <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M9 10H6"></path>
                        <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M19 14L5 14"></path>
                        <circle fill="#ffffff" r="1" cy="10" cx="17"></circle>
                        <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M15 16.5H9"></path>
                        <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff" d="M13 19H9"></path>
                        <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff"
                            d="M22 12C22 14.8284 22 16.2426 21.1213 17.1213C20.48 17.7626 19.5535 17.9359 18 17.9827M6 17.9827C4.44655 17.9359 3.51998 17.7626 2.87868 17.1213C2 16.2426 2 14.8284 2 12C2 9.17157 2 7.75736 2.87868 6.87868C3.75736 6 5.17157 6 8 6H16C18.8284 6 20.2426 6 21.1213 6.87868C21.4211 7.17848 21.6186 7.54062 21.7487 8">
                        </path>
                        <path stroke-linecap="round" stroke-width="1.5" stroke="#ffffff"
                            d="M17.9827 6C17.9359 4.44655 17.7626 3.51998 17.1213 2.87868C16.2426 2 14.8284 2 12 2C9.17157 2 7.75736 2 6.87868 2.87868C6.23738 3.51998 6.06413 4.44655 6.01732 6M18 15V16C18 18.8284 18 20.2426 17.1213 21.1213C16.48 21.7626 15.5535 21.9359 14 21.9827M6 15V16C6 18.8284 6 20.2426 6.87868 21.1213C7.51998 21.7626 8.44655 21.9359 10 21.9827">
                        </path>
                    </svg>

                    PRINT
                </button> -->
            </div>
        </div>
        <hr class="my-2 dark:border-[#191e3a]" style="border: 1px solid #eee" *ngIf="!data_load_flag" />
        <div class="mb-2 grid grid-cols-1 gap-1 md:grid-cols-5 lg:grid-cols-5" style="align-items: center;">
            <div>
                Created On: <b>{{ item_version.qvm_created_on | date }}</b>
            </div>
            <div>
                Item Total:
                <b>{{ item_version.qvm_sub_total | number : "1.2-2" }}</b>
            </div>
            <div>
                VAT Total:
                <b>{{ item_version.qvm_vat_total | number : "1.2-2" }}</b>
            </div>
            <div>
                Discount Total:
                <b>{{ item_version.qvm_discount | number : "1.2-2" }}</b>
            </div>
            <div>
                Grand Total:
                <b>AED
                    {{
                    item_version.qvm_sub_total * 1 +
                    item_version.qvm_vat_total * 1 -
                    item_version.qvm_discount * 1 | number : "1.2-2"
                    }}</b>
            </div>
        </div>
        <hr class="my-2 dark:border-[#191e3a]" style="border: 1px solid #eee" *ngIf="!data_load_flag" />
        <div class="mb-2 grid grid-cols-1 gap-1 md:grid-cols-3 lg:grid-cols-3" style="align-items: center;">
            <div>
                <label class="inline-flex cursor-pointer">
                    <input type="checkbox" [checked]="item_version.qvm_recommended_flag"
                        [(ngModel)]="item_version.qvm_recommended_flag" name="qvm_recommended_flag_{{ i }}"
                        (change)="recommendedItem($event, item_version)" class="form-checkbox"
                        [ngModelOptions]="{ standalone: true }" />
                    <span class="text-white-dark">Recommended</span>
                </label>
            </div>
            <div>
                <ng-container *ngIf="item_version.ref_version>0"> Derived From: <b>#{{
                        quoteCode }}_V{{
                        item_version.ref_version | number : "1.1-1"
                        }}</b></ng-container>

            </div>
            <div style="text-align: right">
                <label class="inline-flex cursor-pointer">
                    <input type="checkbox" [checked]="item_version.print_flag" [(ngModel)]="item_version.print_flag"
                        name="item_flag_{{ i }}" (change)="combinedPrint($event, item_version)" class="form-checkbox"
                        [ngModelOptions]="{ standalone: true }" />
                    <span class="text-white-dark">Selected Option</span>
                </label>
            </div>
        </div>
    </div>
</ng-container>
<div *ngIf="data_load_flag" style="text-align: center">
    <span
        class="m-auto mb-10 inline-block h-14 w-14 animate-[spin_3s_linear_infinite] rounded-full border-8 border-b-success border-l-primary border-r-warning border-t-danger align-middle"></span>
</div>
<div style="display: flex; justify-content: flex-end" class="mt-5" *ngIf="!data_load_flag">
    <button type="button" (click)="printComboQuote()" class="btn btn-outline-success btn-sm" style="float: left"
        id="auto_trigger" *ngIf="printList.length > 0">Print Combined Quote</button>
</div>
<modal #versioCreate class="modal-top animate animate-slide-in-down extra-large-modal" [closeOnOutsideClick]="false"
    style="max-width: 90vw;">
    <ng-template #modalHeader>
        <div>Quote Version Create - <b>{{ quoteCode }}</b></div>
    </ng-template>
    <ng-template #modalBody>
        <div class="scroll-body">
            <div class="mb-2 grid grid-cols-1 gap-1 md:grid-cols-4 lg:grid-cols-4">
                <div>
                    <label>Customer: <b>{{ qt_data.qt_cus_name }} </b></label>
                </div>
                <div>
                    <label>Chassis: <b>{{ qt_data.qt_chasis }}</b></label>
                </div>
                <div>
                    <label>Model: <b>{{ qt_data.qt_make }}</b></label>
                </div>
                <div>
                    <label>Job-card:
                        <b>{{ qt_data.qt_jc_no }} ({{ qt_data.qt_reg_no }})</b></label>
                </div>
            </div>
            <hr class="my-2 dark:border-[#191e3a]" style="border: 1px solid #eee;border: 1px solid #ddd;"
                *ngIf="!data_load_flag" />
            <table id="main_table" style="font-size: 0.9vw; font-weight: 600;" class="table-hover">
                <thead>
                    <tr style="background-color: #eee !important;">
                        <th colspan="8" style="text-align:center;padding: 2px;">SPARES</th>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Part Name</th>
                        <!-- <th>Part Code</th> -->
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Part Brand</th>
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Part Type</th>
                        <th style="text-align: center;border: 1px solid #ddd;padding: 2px;">Quantity</th>
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Availability</th>
                        <th style="text-align: right;border: 1px solid #ddd;padding: 2px;">Unit Price</th>
                        <th style="text-align: right;border: 1px solid #ddd;padding: 2px;">Sub Total</th>
                        <th style="text-align: right;border: 1px solid #ddd;padding: 2px;" *ngIf="marginFlag">Margin
                            Applied Price</th>
                        <th style="text-align: center;border: 1px solid #ddd;padding: 2px;">Action</th>
                    </tr>
                </thead>

                <ng-container *ngFor="let item_master of qt_spare_item; let j = index">
                    <tbody class="master">
                        <ng-container *ngFor="let item_data of item_master.item_p_types; let i = index">
                            <tr class="item_row" *ngIf="
                      item_data.item_type == 1 &&
                      item_data.item_delete_flag == false && 
                      item_data.qit_delete_flag =='0'
                    ">
                                <!--  && item_data.item_group == 0 -->
                                <td [attr.rowspan]="item_master.item_p_types.length" class="include" *ngIf="i == 0"
                                    style="text-align: left;padding: 2px;border: 1px solid #ddd;">
                                    {{ item_data.item_name }}
                                </td>
                                <!-- <td
                      [attr.rowspan]="item_master.item_p_types.length"
                      class="include"
                      *ngIf="i == 0"
                     >
                      {{ item_data.item_code }}
                     </td> -->
                                <td style="text-align: left;padding: 2px;border: 1px solid #ddd;">{{
                                    item_data.brand_name
                                    }}({{ item_data.brand_code }})</td>
                                <td style="text-align: left;padding: 2px;border: 1px solid #ddd;">{{ item_data.qit_type
                                    }}
                                </td>
                                <td style="text-align: center;padding: 2px;border: 1px solid #ddd;">
                                    {{ item_data.item_qty | number : "1.2-2" }}
                                </td>
                                <td style="text-align: left;padding: 2px;border: 1px solid #ddd;">{{
                                    item_data.qit_availability }}</td>
                                <td style="text-align: right;padding: 2px;border: 1px solid #ddd;">
                                    {{ item_data.qit_unit_price | number : "1.2-2" }}
                                </td>
                                <td style="text-align: right;padding: 2px;border: 1px solid #ddd;">
                                    {{
                                    item_data.qit_unit_price * item_data.item_qty
                                    | number : "1.2-2"
                                    }}
                                </td>
                                <td style="text-align: right;padding: 2px;border: 1px solid #ddd;" *ngIf="marginFlag">
                                    {{
                                    item_data.qit_margin_price
                                    | number : "1.2-2"
                                    }}
                                </td>
                                <td style="text-align: center;padding: 2px;border: 1px solid #ddd;">

                                    <input type="checkbox" [(ngModel)]="item_data.selected_flag"
                                        name="item_data_p_{{ i }}" (change)="
                              groupCheckValue(
                                $event,
                                item_data,
                                item_master.item_p_types
                              )" class=" form-checkbox" [ngModelOptions]="{ standalone: true }" />

                                    <!-- <nb-checkbox [checked]="item_data.selected_flag" [(ngModel)]="item_data.selected_flag"
                                    name="item_data_p_{{ i }}" (change)="
                          groupCheckValue(
                            $event,
                            item_data,
                            item_master.item_p_types
                          )
                        "></nb-checkbox> -->
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </ng-container>
            </table>
            <hr class="my-2 dark:border-[#191e3a]" style="border: 1px solid #eee;border: 1px solid #ddd;"
                *ngIf="!data_load_flag" />
            <table id="main_table" style="font-size: 0.9vw; font-weight: 600;" class="table-hover">
                <thead>
                    <tr style="background-color: #eee !important;">
                        <th colspan="7" style="text-align:center;padding: 2px;">GENERIC ITEMS</th>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Generic Item</th>
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Description</th>
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Priority</th>
                        <th style="text-align: center;border: 1px solid #ddd;padding: 2px;">Quantity</th>
                        <th style="text-align: right;border: 1px solid #ddd;padding: 2px;">Unit Price</th>
                        <th style="text-align: right;border: 1px solid #ddd;padding: 2px;">Total Price</th>
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Action</th>
                    </tr>
                </thead>
                <tbody class="master">
                    <ng-container *ngFor="let item_data of qt_items; let i = index">
                        <tr class="item_row" *ngIf="
                          item_data.item_type == 3 && item_data.item_delete_flag == false
                        ">
                            <!--  && item_data.item_group == 0 -->
                            <td style="text-align: left;padding: 2px;border: 1px solid #ddd;">{{ item_data.item_code }}
                            </td>
                            <td style="text-align: left;padding: 2px;border: 1px solid #ddd;">{{ item_data.item_name }}
                            </td>
                            <td [ngStyle]="getPriorityColor(item_data.item_priority)"
                                style="text-align: left; padding: 2px; border: 1px solid #ddd;">
                                {{ item_data.item_priority }}
                            </td>
                            <td style="text-align: center;padding: 2px;border: 1px solid #ddd;">{{ item_data.item_qty }}
                            </td>
                            <td style="text-align: right;padding: 2px;border: 1px solid #ddd;">
                                {{ item_data.unit_price | number : "1.2-2" }}
                            </td>
                            <td style="text-align: right;padding: 2px;border: 1px solid #ddd;">
                                {{
                                item_data.unit_price * item_data.item_qty | number : "1.2-2"
                                }}
                            </td>
                            <td style="text-align: center;padding: 2px;border: 1px solid #ddd;">
                                <label class="inline-flex cursor-pointer">
                                    <input type="checkbox" [checked]="item_data.selected_flag"
                                        [(ngModel)]="item_data.selected_flag"
                                        (change)="groupCheckValue($event, item_data, [])" name="item_data_l_{{ i }}"
                                        class=" form-checkbox" [ngModelOptions]="{ standalone: true }" />
                                    <span class="text-white-dark"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <hr class="my-2 dark:border-[#191e3a]" style="border: 1px solid #eee;border: 1px solid #ddd;"
                *ngIf="!data_load_flag" />

            <table id="main_table" style="font-size: 0.9vw; font-weight: 600;" class="table-hover">
                <thead>
                    <tr style="background-color: #eee !important;">
                        <th colspan="5" style="text-align:center;padding: 2px;">LABOUR</th>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Labour Description</th>
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Labour Condition</th>
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Labour Priority</th>
                        <th style="text-align: right;border: 1px solid #ddd;padding: 2px;">Labour Price</th>
                        <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Action</th>
                    </tr>
                </thead>
                <tbody class="master">
                    <ng-container *ngFor="let item_data of qt_items; let i = index">
                        <tr class="item_row" *ngIf="
                        item_data.item_type == 2 && item_data.item_delete_flag == false
                        ">
                            <td style="text-align: left;padding: 2px;border: 1px solid #ddd;">{{ item_data.item_name }}
                            </td>
                            <td style="text-align: left;padding: 2px;border: 1px solid #ddd;">
                                {{ item_data.item_condition }}
                            </td>
                            <td [ngStyle]="getPriorityColor(item_data.item_priority)"
                                style="text-align: left; padding: 2px; border: 1px solid #ddd;">
                                {{ item_data.item_priority }}
                            </td>
                            <td style="text-align: right;padding: 2px;border: 1px solid #ddd;">
                                {{ item_data.unit_price | number : "1.2-2" }}
                            </td>
                            <td style="text-align: center;padding: 2px;border: 1px solid #ddd;">
                                <label class="inline-flex cursor-pointer">
                                    <input type="checkbox" [checked]="item_data.selected_flag"
                                        [(ngModel)]="item_data.selected_flag"
                                        (change)="groupCheckValue($event, item_data, [])" name="item_data_l_{{ i }}"
                                        class=" form-checkbox" [ngModelOptions]="{ standalone: true }" />
                                    <span class="text-white-dark"></span>
                                </label>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <hr class="my-2 dark:border-[#191e3a]" style="border: 1px solid #eee;border: 1px solid #ddd;"
                *ngIf="grouped_items.length > 0" />
            <h6 style="text-align: center" *ngIf="grouped_items.length > 0">
                Generated Quote
            </h6>
            <div class="mb-2 grid grid-cols-1 gap-1 md:grid-cols-4 lg:grid-cols-4" *ngIf="grouped_items.length > 0">
                <div>
                    <label for="customer">Warranty Note</label>
                    <input type="text" [(ngModel)]="qvm_quote_label" name="qvm_quote_label" name="regno" maxlength="80"
                        placeholder="Warranty Note" class="form-input" />
                </div>
            </div>
            <table id="quote_table" *ngIf="grouped_items.length > 0" class="mb-2">
                <thead style="text-align: center; background-color: #818181; color: white">
                    <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Sl No</th>
                    <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Description</th>
                    <th style="text-align: center;border: 1px solid #ddd;padding: 2px;">Quantity</th>
                    <th style="text-align: right;border: 1px solid #ddd;padding: 2px;">Unit Price</th>
                    <th style="text-align: right;border: 1px solid #ddd;padding: 2px;">Total Price</th>
                    <th style="text-align: left;border: 1px solid #ddd;padding: 2px;">Action</th>
                </thead>
                <tbody>
                    <ng-container *ngFor="
                let group_items of grouped_items;
                let j = index;
                let even = even
              ">
                        <ng-container *ngFor="let line_item of group_items; let i = index">
                            <tr [ngClass]="[
                    group_items.length - 1 == i ? 'border_tr' : 'normal_tr',
                    even ? ' even_row' : 'odd_row'
                  ]">
                                <td style="text-align: center" [attr.rowspan]="group_items.length" *ngIf="i == 0">
                                    {{ j + 1 }}
                                </td>
                                <td *ngIf="line_item.item_type == 1">
                                    {{ line_item.item_name }}
                                    <span style="
                        font-size: 12px;
                        font-style: italic;
                        font-weight: 700;
                      ">({{ line_item.brand_code }} -
                                        {{ line_item.qit_type }})</span>
                                </td>
                                <td *ngIf="line_item.item_type == 2">
                                    {{ line_item.item_name }}
                                </td>
                                <td *ngIf="line_item.item_type == 3">
                                    {{ line_item.item_code }}
                                </td>
                                <td style="text-align: center"
                                    *ngIf="line_item.item_type == 1 || line_item.item_type == 3">
                                    {{ line_item.item_qty | number : "1.2-2" }}
                                </td>
                                <td style="text-align: right" *ngIf="line_item.item_type == 2"></td>
                                <td style="text-align: right" *ngIf="line_item.item_type == 1 ">
                                    {{ line_item.qit_unit_price | number : "1.2-2" }}
                                </td>
                                <td style="text-align: right"
                                    *ngIf="line_item.item_type == 2 || line_item.item_type == 3">
                                    {{ line_item.unit_price | number : "1.2-2" }}
                                </td>
                                <td style="text-align: right" *ngIf="line_item.item_type == 1 && !marginFlag">
                                    {{
                                    line_item.qit_unit_price * line_item.item_qty
                                    | number : "1.2-2"
                                    }}
                                </td>
                                <td style="text-align: right" *ngIf="line_item.item_type == 1 && marginFlag ">
                                    {{
                                    line_item.qit_margin_price
                                    | number : "1.2-2"
                                    }}
                                </td>
                                <td style="text-align: right"
                                    *ngIf="line_item.item_type == 2 || line_item.item_type == 3">
                                    {{
                                    line_item.unit_price * line_item.item_qty
                                    | number : "1.2-2"
                                    }}
                                </td>
                                <td style="text-align: center" [attr.rowspan]="group_items.length" *ngIf="i == 0">
                                    <button type="button" ngxTippy="Delete" (click)="deleteGrouped(group_items, j)">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" class="h-5 w-5">
                                            <path opacity="0.5"
                                                d="M9.17065 4C9.58249 2.83481 10.6937 2 11.9999 2C13.3062 2 14.4174 2.83481 14.8292 4"
                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                            <path d="M20.5001 6H3.5" stroke="currentColor" stroke-width="1.5"
                                                stroke-linecap="round" />
                                            <path
                                                d="M18.8334 8.5L18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5"
                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                            <path opacity="0.5" d="M9.5 11L10 16" stroke="currentColor"
                                                stroke-width="1.5" stroke-linecap="round" />
                                            <path opacity="0.5" d="M14.5 11L14 16" stroke="currentColor"
                                                stroke-width="1.5" stroke-linecap="round" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
            <div class="mb-2 grid grid-cols-12 gap-1 md:grid-cols-12 lg:grid-cols-12" *ngIf="grouped_items.length > 0">
                <div class="col-span-5">
                    <label>Additional Notes </label>
                    <textarea rows="6" nbInput fullWidth [(ngModel)]="quote_note" name="qvm_note" placeholder="Notes"
                        class="form-input" maxlength="8000"></textarea>
                </div>
                <div class="col-span-7">
                    <div class="mb-2 grid grid-cols-12 gap-1 md:grid-cols-12 lg:grid-cols-12">
                        <div style="text-align: right" class="col-span-10">
                            <label>Total Spare Amount AED : </label>
                        </div>
                        <div style="text-align: right" class="col-span-2">
                            <b>{{ spare_total | number : "1.2-2" }}</b>
                        </div>
                    </div>
                    <div class="mb-2 grid grid-cols-12 gap-1 md:grid-cols-12 lg:grid-cols-12">
                        <div style="text-align: right" class="col-span-10">
                            <label>Total Labour Amount AED : </label>
                        </div>
                        <div style="text-align: right" class="col-span-2">
                            <b>{{ labour_total | number : "1.2-2" }}</b>
                        </div>
                    </div>
                    <div class="mb-2 grid grid-cols-12 gap-1 md:grid-cols-12 lg:grid-cols-12">
                        <div style="text-align: right" class="col-span-10">
                            <label>VAT(5%) : </label>
                        </div>
                        <div style="text-align: right" class="col-span-2">
                            <b>{{ quote_vat | number : "1.2-2" }}</b>
                        </div>
                    </div>
                    <div class="mb-2 grid grid-cols-12 gap-1 md:grid-cols-12 lg:grid-cols-12">
                        <div style="text-align: right" class="col-span-10">
                            <label>Discount: </label>
                        </div>
                        <div style="text-align: right" class="col-span-2">
                            <input type="number" [(ngModel)]="discount" name="discount" step="0.01" style="
                            background-color: lightgray;
                            border-width: 1px;
                            text-align: right;
                            border-radius: 5px;
                          " (input)="updateGrandTotal()" onKeyPress="if(this.value.length==8) return false;"
                                class="form-input py-1.5 text-xs" />
                        </div>
                    </div>
                    <div class="mb-2 grid grid-cols-12 gap-1 md:grid-cols-12 lg:grid-cols-12">
                        <div style="text-align: right" class="col-span-10">
                            <label>Grand Total: </label>
                        </div>
                        <div style="text-align: right;font-size: 1.5vw;font-weight: 800;" class="col-span-2">
                            <b>{{ total_amt | number : "1.2-2" }} </b>
                        </div>
                    </div>
                    <div class="mb-2 grid grid-cols-1 gap-1" style="text-align: right; text-transform: capitalize">
                        <b>{{ tot_words }} Dirhams Only</b>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #modalFooter>
        <button type="button" style="float: left;" (click)="versioCreate.close()"
            class="btn btn-danger ltr:ml-4 rtl:mr-4">CLOSE</button>
        <button type="button" *ngIf="selected_grouping_count == 0 && grouped_items.length > 0"
            (click)="saveQuoteVersion()" class="btn btn-success ltr:ml-4 rtl:mr-4" [disabled]="versionCreateFlag">SAVE
            QUOTE VERSION
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="1.5" fill="none"
                stroke-linecap="round" stroke-linejoin="round"
                class="inline-block h-5 w-5 shrink-0 animate-[spin_2s_linear_infinite] align-middle ltr:mr-2 rtl:ml-2"
                *ngIf="versionCreateFlag">
                <line x1="12" y1="2" x2="12" y2="6"></line>
                <line x1="12" y1="18" x2="12" y2="22"></line>
                <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                <line x1="2" y1="12" x2="6" y2="12"></line>
                <line x1="18" y1="12" x2="22" y2="12"></line>
                <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
            </svg></button>
        <button type="button" *ngIf="selected_grouping_count > 0" (click)="groupItems()"
            class="btn btn-warning ltr:ml-4 rtl:mr-4">Group Items</button>

    </ng-template>
</modal>