<ol class="flex font-semibold text-primary dark:text-white-dark">
    <li class="bg-[#ebedf2] ltr:rounded-l-md rtl:rounded-r-md dark:bg-[#1b2e4b]">
        <a routerLink="/dashboard"
            class="relative flex h-full items-center p-1.5 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-3 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-3 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">Home</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180">
            MIS</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center p-1.5 px-3 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-6 ltr:before:-right-[15px] rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">
            Staff Performance Analysis</a>
    </li>
</ol>


<div class="panel mb-5 mt-5 pb-5">
    <div class="grid grid-cols-5 gap-4 sm:grid-cols-5">
        <div>
            <label>Date From</label>
            <input [(ngModel)]="dateFrom" type="date" class="form-input text-xs" placeholder="Date From " />
        </div>
        <div>
            <label>Date To</label>
            <input [(ngModel)]="dateTo" type="date" class="form-input text-xs" placeholder="Date To " />
        </div>
        <div>
            <label>Assigned To</label>

            <ng-select [(ngModel)]="assigned"  [items]="usersList" bindLabel="us_firstname" bindValue="us_id"
                [searchable]="true" [clearable]="false" appendTo="body" placeholder="Select an extension"
                class="custom-multiselect">
                <ng-option value="0">ALL</ng-option>

            </ng-select>
        </div>


        <div>
            <label style="color: white;">.</label>
            <button type="button" class="btn btn-primary btn-md" style="width: 50%" size="small"
                (click)="fetchData()">SEARCH</button>
        </div>
    </div>
</div>



<div *ngFor="let option of filterOptions">
    <div class="panel mb-5 mt-5 pb-5">
        <h1>{{ option.name }}</h1>
        <div class="pt-5">
            <div class="mb-4 flex flex-col gap-2 md:flex-row md:items-center">
                <div class="panel bg-gradient-to-r from-cyan-500 to-cyan-400 flex-1 small_card">
                    <div class="text-md font-semibold">Total Customers</div>
                    <div class="mt-3 text-3xl font-bold">{{ option.data.total_row }}</div>
                </div>
                <div class="panel bg-gradient-to-r from-green-500 to-green-400 flex-1 small_card">
                    <div class="text-md font-semibold">Attempted & Converted</div>
                    <div class="mt-3 text-3xl font-bold">{{ option.data.attempted_converted_count }}</div>
                </div>
                <div class="panel bg-gradient-to-r from-green-500 to-green-400 flex-1 small_card">
                    <div class="text-md font-semibold" style="font-size: 12px;">Non-Attempted Converted</div>
                    <div class="mt-3 text-3xl font-bold">{{ option.data.nonattempted_converted_count }}</div>
                </div>
                <div class="panel bg-gradient-to-r from-yellow-500 to-yellow-400 flex-1 small_card">
                    <div class="text-md font-semibold">Not Yet Converted</div>
                    <div class="mt-3 text-3xl font-bold">{{ option.data.not_converted_count }}</div>
                </div>
                <div class="panel bg-gradient-to-r from-blue-500 to-blue-400 flex-1 small_card">
                    <div class="text-md font-semibold">Attempted Calls</div>
                    <div class="mt-3 text-3xl font-bold">{{ option.data.attempted_call }}</div>
                </div>
                <div class="panel bg-gradient-to-r from-red-500 to-red-400 flex-1 small_card">
                    <div class="text-md font-semibold">Not Attempted Calls</div>
                    <div class="mt-3 text-3xl font-bold">{{ option.data.not_attempted_call }}</div>
                </div>
            </div>
        </div>
    </div>
</div>