.heading-card {
  background: linear-gradient(135deg, #1e568b, #2F80ED);
  color: white;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;

}

.impact-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 14px;
  flex: 1;
  box-shadow: 0 4px 16px rgba(16, 24, 40, 0.06);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.icon-box {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box.blue {
  background: rgba(47, 128, 237, 0.12);
}

.icon-box.green {
  background: rgba(39, 174, 96, 0.12);
}

.icon-box.yellow {
  background: rgba(242, 201, 76, 0.15);
}

.card h4 {
  font-size: 14px;
  color: #667085;
  font-weight: 500;
}

.card h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 6px 0;
  color: #0F1F2E;
}

.text-green {
  color: #27AE60;
}

.card p {
  font-size: 13px;
  color: #667085;
}

.card.green h2 { color: #27AE60; }
.card.yellow h2 { color: #F2C94C; }

.table-card {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.05);
  overflow: visible !important;
}



th, td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.new-price {
  color: #2F80ED;
  font-weight: bold;
}


table {
  overflow: visible !important;
}

td {
  position: relative;
}
.ng-dropdown-panel {
  z-index: 99999 !important;
}









/* shimming effect */
.shimmer-container {
  padding: 10px;
}

.shimmer-box {
  background: #e5e7eb;
  position: relative;
  overflow: hidden;
}

.shimmer-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.7),
    transparent
  );
  animation: shimmer 1.3s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}
