.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.star-rating {
    display: inline-block;
    font-size: 15px;
}

.star-rating span {
    color: #777;
    /* Set color to dark for inactive stars */
    position: relative;
    display: inline-block;
}

.star-rating span:before {
    content: '\2605';
    /* Unicode character for a star */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: transparent;
    /* Set color to transparent initially */
}

.star-rating span.full:before,
.star-rating span.half:before {
    color: #ffd700;
    /* Set color to yellow for active stars */
}

.star-rating span.half:before {
    width: 50%;
    /* Make the width 50% for half-filled stars */
}

.sacard {
    background-color: #777;
}