<ol class="flex font-semibold text-primary dark:text-white-dark">
    <li class="bg-[#ebedf2] ltr:rounded-l-md rtl:rounded-r-md dark:bg-[#1b2e4b]">
        <a routerLink="/dashboard"
            class="relative flex h-full items-center p-1.5 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-3 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-3 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">Home</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180">
            ALM Spare Invoice</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a routerLink="/spare-invoice/spare-invoice-list"
            class="relative flex h-full items-center p-1.5 px-3 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-6 ltr:before:-right-[15px] rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">
            Spare Invoice List</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180">
            Invoice View</a>
    </li>
</ol>

<div class="panel mb-5 mt-5 pt-5">
    <div *ngIf="load_flag" style="text-align: center">
        <span
            class="m-auto mb-10 inline-block h-14 w-14 animate-[spin_3s_linear_infinite] rounded-full border-8 border-b-success border-l-primary border-r-warning border-t-danger align-middle"></span>
    </div>
    <div *ngIf="!load_flag">
        <!-- <div class="mb-6 flex flex-wrap items-center justify-center gap-4 lg:justify-end">
            <button type="button" class="btn btn-primary gap-2" (click)="printSpareInvoice()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5">
                    <path
                        d="M6 17.9827C4.44655 17.9359 3.51998 17.7626 2.87868 17.1213C2 16.2426 2 14.8284 2 12C2 9.17157 2 7.75736 2.87868 6.87868C3.75736 6 5.17157 6 8 6H16C18.8284 6 20.2426 6 21.1213 6.87868C22 7.75736 22 9.17157 22 12C22 14.8284 22 16.2426 21.1213 17.1213C20.48 17.7626 19.5535 17.9359 18 17.9827"
                        stroke="currentColor" stroke-width="1.5" />
                    <path opacity="0.5" d="M9 10H6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    <path d="M19 14L5 14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    <path
                        d="M18 14V16C18 18.8284 18 20.2426 17.1213 21.1213C16.2426 22 14.8284 22 12 22C9.17157 22 7.75736 22 6.87868 21.1213C6 20.2426 6 18.8284 6 16V14"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    <path opacity="0.5"
                        d="M17.9827 6C17.9359 4.44655 17.7626 3.51998 17.1213 2.87868C16.2427 2 14.8284 2 12 2C9.17158 2 7.75737 2 6.87869 2.87868C6.23739 3.51998 6.06414 4.44655 6.01733 6"
                        stroke="currentColor" stroke-width="1.5" />
                    <circle opacity="0.5" cx="17" cy="10" r="1" fill="currentColor" />
                    <path opacity="0.5" d="M15 16.5H9" stroke="currentColor" stroke-width="1.5"
                        stroke-linecap="round" />
                    <path opacity="0.5" d="M13 19H9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                </svg>

                Print
            </button>
        </div> -->
        <div class="flex flex-wrap justify-between gap-4 px-4">
            <div class="text-2xl font-semibold uppercase">
                Spare Invoice - <b>#ALM{{ invoiceDetails.inv_nm_id }}</b>
            </div>
            <div class="shrink-0">
                <img src="./assets/images/alm_logo_l.png" alt="" style="width: 17rem" class="ltr:ml-auto rtl:mr-auto" />
            </div>
        </div>
        <div class="px-4 ltr:text-right rtl:text-left">
            <div class="mt-6 space-y-1 text-white-dark">
                <div>P.O Box: 9573, 12th Street, Mussafah 33,</div>
                <div>Abu Dhabi, UAE</div>
                <div>Tel: (02)5503552</div>
            </div>
        </div>
        <hr class="my-6 border-[#e0e6ed] dark:border-[#1b2e4b]" />
        <div class="flex flex-col justify-between gap-12 sm:flex-row">
            <div class="xl:1/2 sm:w-1/2 lg:w-1/2">
                <div class="mb-2 flex w-full items-center justify-between" *ngIf="invoiceDetails.customer_name">
                    <div class="text-white-dark">Customer :</div>
                    <div>{{ invoiceDetails.customer_name | uppercase }}</div>
                </div>
                <div class="mb-2 flex w-full items-center justify-between" *ngIf="invoiceDetails.phone">
                    <div class="text-white-dark">Phone :</div>
                    <div>{{invoiceDetails.phone}}</div>
                </div>
                <div class="mb-2 flex w-full items-center justify-between" *ngIf="invoiceDetails.reg_no">
                    <div class="text-white-dark">Reg No:</div>
                    <div>{{invoiceDetails.reg_no}}</div>
                </div>
                <div class="flex w-full items-center justify-between" *ngIf="invoiceDetails.chassis_no">
                    <div class="text-white-dark">Chassis :</div>
                    <div>{{invoiceDetails.chassis_no}}</div>
                </div>
            </div>
            <div class="xl:1/2 sm:w-1/2 lg:w-1/2">
                <div class="mb-2 flex w-full items-center justify-between" *ngIf="invoiceDetails.inv_jobcard_no">
                    <div class="text-white-dark">JobCard:</div>
                    <div>{{invoiceDetails.inv_jobcard_no}}</div>
                </div>
                <div class="mb-2 flex w-full items-center justify-between" *ngIf="invoiceDetails.inv_created_on">
                    <div class="text-white-dark">Invoice Date:</div>
                    <div class="whitespace-nowrap">{{invoiceDetails.inv_created_on | date }}</div>
                </div>
                <div class="mb-2 flex w-full items-center justify-between" *ngIf="invoiceDetails.us_firstname">
                    <div class="text-white-dark">Invoiced By:</div>
                    <div>{{invoiceDetails.us_firstname}}</div>
                </div>
                <div class="mb-2 flex w-full items-center justify-between">
                    <div class="text-white-dark">TRN:</div>
                    <div>100262598400003</div>
                </div>
                <!-- 
                <div class="mb-2 flex w-full items-center justify-between">
                    <div class="text-white-dark">Country:</div>
                    <div>United States</div>
                </div> -->
            </div>
        </div>
        <div>
            <h5 class="mb-3 text-lg font-semibold dark:text-white-light" style="text-align: center">Particulars</h5>
        </div>
        <div class="row background-card mb-1" *ngFor="let spare of invoiceDetails.items;let i = index">
            <table class="mb-5" *ngIf="spare.inv_item_delete_flag != '1'">
                <thead style="font-size: 12px">
                    <th style="text-align: left; width: 35%">DESCRIPTION</th>
                    <th style="text-align: left; width: 9%">PART CODE</th>
                    <th style="text-align: left; width: 18%">QUANTITY</th>
                </thead>
                <tbody>
                    <tr style="border-bottom: 0">
                        <td style="padding: 1px">
                            <div class="ng-autocomplete" style="text-transform: uppercase;">
                                <ng-autocomplete [data]="descriptions" maxlength="100" placeholder="Descriptions"
                                    [(ngModel)]="spare.inv_item_description" [searchKeyword]="descriptionSearch"
                                    ngxTippy="Enter Description" [ngModelOptions]="{ standalone: true }"
                                    [itemTemplate]="itemTemplateGeneric" #inputFieldGeneric>
                                </ng-autocomplete>
                            </div>
                            <ng-template #itemTemplateGeneric let-item>
                                <a [innerHTML]="item"></a>
                            </ng-template>
                        </td>
                        <td style="padding: 1px">
                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="partcodes" maxlength="100" placeholder="PART_NO"
                                    [(ngModel)]="spare.inv_item_part_number" [searchKeyword]="partcodesSearch"
                                    ngxTippy="Enter Part NO" [ngModelOptions]="{ standalone: true }"
                                    [itemTemplate]="itemTemplateGeneric" #inputFieldGeneric>
                                </ng-autocomplete>
                            </div>
                            <ng-template #itemTemplateGeneric let-item>
                                <a [innerHTML]="item"></a>
                            </ng-template>
                        </td>
                        <td style="padding: 1px">
                            <input id="part_no" type="text" style="text-align: left" [(ngModel)]="spare.inv_item_qty"
                                placeholder="QUANTITY" class="form-input text-xs" ngxTippy="Enter Spare Quantity"
                                (change)="setMargin(invoiceDetails,spare,0)"
                                onkeyup="if(parseInt(this.value)<0) this.value='';" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="mb-5" *ngIf="spare.inv_item_delete_flag != '1'">
                <thead style="font-size: 12px; line-height: 1">
                    <th style="text-align: left; width: 12%">UNIT PRICE</th>
                    <th style="text-align: left; width: 12%">VAT</th>
                    <th style="text-align: left; width: 12%">TOTAL</th>
                    <th style="text-align: left; width: 12%">RETURN QTY</th>
                    <th style="text-align: left; width: 12%">RETURN AMOUNT<br><sub>(VAT INCLUDED)</sub></th>
                    <th style="text-align: left; width: 12%">SUB TOTAL</th>
                    <th style="text-align: left; width: 12%">MARGIN(%)</th>
                    <th style="text-align: left; width: 12%">TOTAL</th>
                    <th style="text-align: left; width: 4%"></th>
                </thead>
                <tbody>
                    <ng-container>
                        <tr style="border-bottom: 0">
                            <td style="padding: 1px">
                                <input id="part_no" type="text" style="text-align: left"
                                    class="ltr:text-right rtl:text-left" [(ngModel)]="spare.inv_item_nm_unit_price"
                                    placeholder="UNIT PRICE" (change)="setMargin(invoiceDetails,spare,1)"
                                    class="form-input text-xs" ngxTippy="Enter Spare Unit Price" />
                            </td>
                            <td style="padding: 1px">
                                <input id="part_no" type="text" style="text-align: left"
                                    class="ltr:text-right rtl:text-left" [(ngModel)]="spare.inv_item_nm_vat"
                                    placeholder="VAT AMOUNT" (change)="setMargin(invoiceDetails,spare,0)"
                                    class="form-input text-xs" ngxTippy="Enter Spare VAT Amount" />
                            </td>
                            <td style="padding: 1px">
                                <a *ngIf="spare.inv_item_qty >0">{{ spare.inv_item_qty * (spare.inv_item_nm_unit_price *
                                    1 +
                                    spare.inv_item_nm_vat * 1) | number : '1.2-2' }} </a>
                            </td>
                            <td style="padding: 1px">
                                <input id="part_no" type="text" style="text-align: center"
                                    onkeyup="if(parseInt(this.value)<0) this.value='';"
                                    [(ngModel)]="spare.inv_item_return_qty" placeholder="QUANTITY"
                                    class="form-input text-xs" (change)="checkReturnQTY(spare)"
                                    ngxTippy="Enter Spare Quantity To Return" />
                            </td>
                            <td style="padding: 1px">
                                {{ spare.return_amount | number : '1.2-2' }}
                            </td>
                            <td style="padding: 1px" *ngIf="isChecked">
                                {{(spare.inv_item_qty * (spare.inv_item_nm_unit_price * 1 + spare.inv_item_nm_vat *
                                1))-(spare.return_amount) |
                                number : '1.2-2' }}
                            </td>
                            <td style="padding: 1px" *ngIf="isChecked">
                                {{spare.inv_item_margin}}
                            </td>
                            <td style="padding: 1px" *ngIf="isChecked">
                                <input id="parts_margin" type="text" style="text-align: right"
                                    [(ngModel)]="spare.inv_item_margin_amount" placeholder="Total Amount (%)"
                                    class="form-input text-xs" maxlength="9" (change)="updateMargin(spare)" />
                            </td>
                            <td class="text-center">
                                <button type="button" ngxTippy data-tippy-content="Delete Spare"
                                    (click)="deleteSpare(i, spare)">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="m-auto h-5 w-5">
                                        <path d="M20.5001 6H3.5" stroke="currentColor" stroke-width="1.5"
                                            stroke-linecap="round" />
                                        <path
                                            d="M18.8334 8.5L18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                        <path opacity="0.5" d="M9.5 11L10 16" stroke="currentColor" stroke-width="1.5"
                                            stroke-linecap="round" />
                                        <path opacity="0.5" d="M14.5 11L14 16" stroke="currentColor" stroke-width="1.5"
                                            stroke-linecap="round" />
                                        <path opacity="0.5"
                                            d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6"
                                            stroke="currentColor" stroke-width="1.5" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <!-- <tr style="background-color: #eee !important">
                    <td colspan="1">
                        <button type="button" class="btn btn-dark" (click)="addNewSpare()">Add New Spare</button>
                    </td>
                </tr> -->
            </table>
        </div>
        <div style="background-color: #eee !important">
            <table>
                <tr>
                    <td class="pl-2" style="text-align: left; width: 12%">
                        <a style="font-size: 10px; line-height: 1;font-weight: bold;">TOTAL UNIT PRICE</a>
                        <br>
                        <br>
                        <b>{{ invoiceDetails.inv_nm_sub_total | number : '1.2-2' }}</b>
                    </td>
                    <td class="pl-2" style="text-align: left; width: 12%">
                        <a style="font-size: 10px; line-height: 1;font-weight: bold;">TOTAL VAT AMOUNT</a>
                        <br>
                        <br>
                        <b>{{ invoiceDetails.inv_nm_vat_total | number : '1.2-2' }}</b>
                    </td>
                    <td class="pl-2 items-start" style="text-align: left; width: 12%"></td>
                    <td class="pl-2 items-start" style="text-align: left; width: 12%"></td>
                    <td class="items-start" style="text-align: left; width: 12%">
                        <a style="font-size: 10px; line-height: 1;font-weight: bold;">TOTAL RETURN AMOUNT</a>
                        <br>
                        <br>
                        <b>{{ invoiceDetails.inv_nm_return_total | number : '1.2-2' }}</b>
                    </td>
                    <td class="items-start" style="text-align: left; width: 12%">
                        <a style="font-size: 10px; line-height: 1;font-weight: bold;">TOTAL SUB TOTAL</a>
                        <br>
                        <br>
                        <b>{{ (invoiceDetails.inv_nm_vat_total * 1 + invoiceDetails.inv_nm_sub_total *
                            1)-(invoiceDetails.inv_nm_return_total) | number :
                            '1.2-2' }}</b>
                    </td>
                    <td class="items-start" style="text-align: left; width: 12%"></td>
                    <td style="text-align: right; width: 10%">
                        <a style="font-size: 10px; line-height: 1;font-weight: bold;">TOTAL PRICE</a>
                        <br>
                        <br>
                        <b>{{ invoiceDetails.inv_alm_margin_total | number : '1.2-2' }}</b>
                    </td>
                    <td class="items-start" style="text-align: left; width: 6%"></td>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <table>
                <!-- style="background-color: #eee !important" -->
                <tr >
                    <td colspan="1">
                        <button type="button" class="btn btn-dark" (click)="addNewSpare()">Add New Spare</button>
                    </td>
                </tr>
            </table>
        </div>
        <!-- <div class="table-responsive mt-6">
            <h5 class="mb-3 text-lg font-semibold dark:text-white-light" style="text-align: center">Particulars</h5>
            <table class="table-striped">
                <thead>
                    <tr>
                        <th class="" style="width: 20%">DESCRIPTION</th>
                        <th class="" style="width: 13%">PART CODE</th>
                        <th class="" style="width: 3%">QUANTITY</th>
                        <th class="ltr:text-right rtl:text-left" style="width: 7%">UNIT PRICE</th>
                        <th class="ltr:text-right rtl:text-left" style="width: 7%">VAT</th>
                        <th class="ltr:text-right rtl:text-left" style="width: 7%">TOTAL</th>
                        <th style="width: 7%">RETURN QTY</th>
                        <th style="width: 6%">RETURN AMOUNT<br><sub>(VAT INCLUDED)</sub></th>
                        <th class="ltr:text-right rtl:text-left" style="width: 8%">SUB TOTAL</th>
                        <th class="ltr:text-right rtl:text-left" style="width: 8%">MARGIN(%)</th>
                        <th class="ltr:text-right rtl:text-left" style="width: 14%">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let spare of invoiceDetails.items">
                        <tr>
                            <td style="padding-left: 2px;padding-right: 2px;">

                                <div class="ng-autocomplete" style="text-transform: uppercase;">
                                    <ng-autocomplete [data]="descriptions" maxlength="100" placeholder="Descriptions"
                                        [(ngModel)]="spare.inv_item_description" [searchKeyword]="descriptionSearch"
                                        ngxTippy="Enter Description" [ngModelOptions]="{ standalone: true }"
                                        [itemTemplate]="itemTemplateGeneric" #inputFieldGeneric>
                                    </ng-autocomplete>
                                </div>
                                <ng-template #itemTemplateGeneric let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>
                            </td>
                            <td>
                                <div class="ng-autocomplete">
                                    <ng-autocomplete [data]="partcodes" maxlength="100" placeholder="PART_NO"
                                        [(ngModel)]="spare.inv_item_part_number" [searchKeyword]="partcodesSearch"
                                        ngxTippy="Enter Part NO" [ngModelOptions]="{ standalone: true }"
                                        [itemTemplate]="itemTemplateGeneric" #inputFieldGeneric>
                                    </ng-autocomplete>
                                </div>
                                <ng-template #itemTemplateGeneric let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>
                            </td>
                            <td><input id="part_no" type="text" style="text-align: left"
                                    [(ngModel)]="spare.inv_item_qty" placeholder="QUANTITY" class="form-input text-xs"
                                    ngxTippy="Enter Spare Quantity" (change)="setMargin(invoiceDetails,spare,0)"
                                    onkeyup="if(parseInt(this.value)<0) this.value='';" /></td>
                            <td><input id="part_no" type="text" style="text-align: left"
                                    class="ltr:text-right rtl:text-left" [(ngModel)]="spare.inv_item_nm_unit_price"
                                    placeholder="UNIT PRICE" (change)="setMargin(invoiceDetails,spare,1)" class="form-input text-xs"
                                    ngxTippy="Enter Spare Unit Price" /></td>
                            <td>
                                <input id="part_no" type="text" style="text-align: left"
                                    class="ltr:text-right rtl:text-left" [(ngModel)]="spare.inv_item_nm_vat"
                                    placeholder="VAT AMOUNT" (change)="setMargin(invoiceDetails,spare,0)" class="form-input text-xs"
                                    ngxTippy="Enter Spare VAT Amount" />
                            </td>
                            <td><a *ngIf="spare.inv_item_qty >0">{{ spare.inv_item_qty * (spare.inv_item_nm_unit_price * 1 +
                                    spare.inv_item_nm_vat * 1) | number : '1.2-2' }} </a></td>
                            <td>
                                <input id="part_no" type="text" style="text-align: center"
                                    onkeyup="if(parseInt(this.value)<0) this.value='';"
                                    [(ngModel)]="spare.ITEM_QTY_RETURN" placeholder="QUANTITY"
                                    class="form-input text-xs" (change)="checkReturnQTY(spare)"
                                    ngxTippy="Enter Spare Quantity To Return" />
                            </td>
                            <td class="ltr:text-right rtl:text-left">{{ spare.return_amount | number : '1.2-2' }}</td>
                            <td class="ltr:text-right rtl:text-left">
                                {{(spare.inv_item_qty * (spare.inv_item_nm_unit_price * 1 + spare.inv_item_nm_vat *
                                1))-(spare.return_amount) |
                                number : '1.2-2' }}
                            </td>
                            <td class="ltr:text-right rtl:text-left">
                                {{spare.inv_item_margin}}
                                
                            </td>
                            <td class="ltr:text-right rtl:text-left">
                                <input id="parts_margin" type="text" style="text-align: right"
                                    [(ngModel)]="spare.inv_item_margin_amount" placeholder="Total Amount (%)"
                                    class="form-input text-xs" maxlength="9" (change)="updateMargin(spare)" />
                            </td>
                        </tr>
                    </ng-container>
                    <tr>
                        <td colspan="1">
                            <button type="button" class="btn btn-dark" (click)="addNewSpare()">Add New Spare</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ invoiceDetails.inv_nm_sub_total | number : '1.2-2' }}</b>
                        </th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ invoiceDetails.inv_nm_vat_total | number : '1.2-2' }}</b>
                        </th>
                        <th></th>
                        <th></th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ invoiceDetails.inv_nm_return_total | number : '1.2-2' }}</b>
                        </th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ (invoiceDetails.inv_nm_vat_total * 1 + invoiceDetails.inv_nm_sub_total *
                                1)-(invoiceDetails.inv_nm_return_total) | number :
                                '1.2-2' }}</b>
                        </th>
                        <th></th>
                        <th class="ltr:text-right rtl:text-left">
                            <b>{{ invoiceDetails.inv_alm_margin_total | number : '1.2-2' }}</b>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div> -->
        <div class="mt-6 grid grid-cols-1 px-4 sm:grid-cols-2">
            <div></div>
            <div class="space-y-2 ltr:text-right rtl:text-left">
                <div class="flex items-center">
                    <div class="flex-1">Subtotal</div>
                    <div class="w-[37%]">{{ invoiceDetails.inv_alm_margin_total /1.05 | number : '1.2-2' }}</div>
                </div>
                <div class="flex items-center">
                    <div class="flex-1">VAT</div>
                    <div class="w-[37%]">{{ (invoiceDetails.inv_alm_margin_total /1.05) * 0.05 | number : '1.2-2' }}
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="flex-1">Discount</div>
                    <div class="w-[37%]">
                        <!-- {{invoiceDetails.inv_alm_discount}} -->
                        <input id="parts_margin" type="number" style="text-align: right; width: 40%"
                            [(ngModel)]="invoiceDetails.inv_alm_discount" placeholder="Discount"
                            class="form-input text-xs" maxlength="5" />
                    </div>
                </div>
                <div class="flex items-center text-lg font-semibold">
                    <div class="flex-1">Grand Total</div>
                    <div class="w-[37%]">AED {{ invoiceDetails.inv_alm_margin_total*1-
                        invoiceDetails.inv_alm_discount*1| number : '1.2-2' }}</div>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: flex-end" class="mt-5">
            <button type="button" class="btn btn-info" style="float: left" id="auto_trigger" (click)="updateInvoice()"
                [disabled]="marginFlag">UPDATE INVOICE</button>
        </div>
    </div>
</div>