<router-outlet></router-outlet>
<!-- <modal #session class="modal-top profile-modal"  [closeOnOutsideClick]="false">
    <ng-template #modalBody>
        <div class="pb-2 pt-10 text-center text-white dark:text-white-light">
            <div class="mx-auto mb-7 h-20 w-20 overflow-hidden rounded-full">
                <img src="/assets/images/session.png" alt="" class="h-full w-full object-cover" />
            </div>
            <p class="text-sm font-semibold">Your current session expired <br />Please login again.</p>
        </div>
    </ng-template>
    <ng-template #modalFooter>
        <button type="button" class="btn dark:btn-dark bg-white text-black">Logout</button>
    </ng-template>
</modal> -->
