<ol class="flex font-semibold text-primary dark:text-white-dark">
    <li class="bg-[#ebedf2] ltr:rounded-l-md rtl:rounded-r-md dark:bg-[#1b2e4b]">
        <a
            routerLink="/dashboard"
            class="relative flex h-full items-center p-1.5 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-3 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-3 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70"
            >Home</a
        >
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180"
            >Admin Settings</a
        >
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            routerLink="/admin_staff/user/user_list"
            class="relative flex h-full items-center p-1.5 px-3 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-6 ltr:before:-right-[15px] rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70"
            >User List</a
        >
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180"
            >User Create</a
        >
    </li>
</ol>
<div style="margin-top: 1.6rem">
    <form
        class="mb-5 rounded-md border border-[#ebedf2] bg-white p-4 dark:border-[#191e3a] dark:bg-[#0e1726]"
        [formGroup]="userForm"
        (ngSubmit)="createUser()"
        novalidate
    >
        <h6 class="mb-5 text-lg font-bold">General Information Of User</h6>
        <div class="flex flex-col sm:flex-row">
            <div class="mb-5 w-full sm:w-2/12 ltr:sm:mr-4 rtl:sm:ml-4">
                <img src="./assets/images/user_def.png" alt="" class="mx-auto h-20 w-20 rounded-full object-cover md:h-32 md:w-32" />
            </div>
            <div class="grid flex-1 grid-cols-1 gap-5 sm:grid-cols-2">
                <div [ngClass]="userForm.controls['us_firstname'].touched ? (userForm.controls['us_firstname'].errors ? 'has-error' : 'has-success') : ''">
                    <label for="name">Full Name</label>
                    <input formControlName="us_firstname" type="text" placeholder="User name" class="form-input" maxlength="50"/>
                    <ng-container *ngIf="userForm.controls['us_firstname'].touched && userForm.controls['us_firstname'].errors">
                        <p class="mt-1 text-danger">Please fill name properly</p>
                    </ng-container>
                </div>
                <div [ngClass]="userForm.controls['us_role_id'].touched ? (userForm.controls['us_role_id'].errors ? 'has-error' : 'has-success') : ''">
                    <label for="country">Role/Position</label>
                    <ng-select
                        [items]="roleList"
                        bindLabel="role_name"
                        bindValue="role_id"
                        formControlName="us_role_id"
                        [searchable]="false"
                        [clearable]="false"
                        placeholder="Select user role"
                        class="custom-multiselect"
                    >
                    </ng-select>
                    <ng-container *ngIf="userForm.controls['us_role_id'].touched && userForm.controls['us_role_id'].errors">
                        <p class="mt-1 text-danger">Please choose a role</p>
                    </ng-container>
                </div>

                <div [ngClass]="userForm.controls['us_phone'].touched ? (userForm.controls['us_phone'].errors ? 'has-error' : 'has-success') : ''">
                    <label for="phone">Phone</label>
                    <input id="phone" type="text" formControlName="us_phone" placeholder="555-12121" class="form-input" maxlength="10" />
                    <ng-container *ngIf="userForm.controls['us_phone'].touched && userForm.controls['us_phone'].errors">
                        <p class="mt-1 text-danger">Please enter valid phone</p>
                    </ng-container>
                </div>
                <div [ngClass]="userForm.controls['us_email'].touched ? (userForm.controls['us_email'].errors ? 'has-error' : 'has-success') : ''">
                    <label for="email">Email</label>
                    <input id="email" formControlName="us_email" type="email" placeholder="sample@gmail.com" class="form-input" maxlength="100"/>
                    <ng-container *ngIf="userForm.controls['us_email'].touched && userForm.controls['us_email'].errors">
                        <p class="mt-1 text-danger">Please enter valid email</p>
                    </ng-container>
                </div>
                <div >
                    <label for="name">Date Of Joining</label>
                    <ng2-flatpickr [config]="basic" formControlName="us_date_of_joining" placeholder="Date of joining" addClass="form-input"></ng2-flatpickr>
                </div>
                <div [ngClass]="userForm.controls['us_password'].touched ? (userForm.controls['us_password'].errors ? 'has-error' : 'has-success') : ''">
                    <label for="email">Password</label>
                    <input id="email" formControlName="us_password" type="password" placeholder="Default Password" class="form-input" minlength="3" maxlength="15"/>
                    <ng-container *ngIf="userForm.controls['us_password'].touched && userForm.controls['us_password'].errors">
                        <p class="mt-1 text-danger">Please enter valid password</p>
                    </ng-container>
                </div>
                <div [ngClass]="userForm.controls['us_laabs_id'].touched ? (userForm.controls['us_laabs_id'].errors ? 'has-error' : 'has-success') : ''">
                    <label for="email">LAABS User Id</label>
                    <input id="us_laabs_id" min="0" max="9999" formControlName="us_laabs_id" type="number" placeholder="LAABS User Id" class="form-input" />
                    <ng-container *ngIf="userForm.controls['us_laabs_id'].touched && userForm.controls['us_laabs_id'].errors">
                        <p class="mt-1 text-danger">Please enter valid Id</p>
                    </ng-container>
                </div>
                <div [ngClass]="userForm.controls['us_extension'].touched ? (userForm.controls['us_extension'].errors ? 'has-error' : 'has-success') : ''">
                    <label for="email">Assigned Extension</label>
                    <ng-select
                        [items]="userExtensions"
                        bindLabel="number"
                        bindValue="number"
                        formControlName="us_extension"
                        [searchable]="true"
                        [clearable]="false"
                        placeholder="Select an extension"
                        class="custom-multiselect"
                    >
                    </ng-select>
                    <ng-container *ngIf="userForm.controls['us_extension'].touched && userForm.controls['us_extension'].errors">
                        <p class="mt-1 text-danger">Please enter valid extension</p>
                    </ng-container>
                </div>
                <div>
                    <label class="mt-1 inline-flex cursor-pointer">
                        <input type="checkbox" class="form-checkbox" formControlName="tgvalue" />
                        <span class="text-white-dark">Considered as trusted user</span>
                    </label>
                </div>
                <div class="mt-3 sm:col-span-2">
                    <button *ngIf="!data_submit_flag" type="submit" class="btn btn-primary" style="float: right">SUBMIT</button>
                    <button *ngIf="data_submit_flag" type="button" class="btn btn-primary" style="float: right">
                        <svg
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                            stroke="currentColor"
                            stroke-width="1.5"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="inline-block h-5 w-5 shrink-0 animate-[spin_2s_linear_infinite] align-middle ltr:mr-2 rtl:ml-2"
                        >
                            <line x1="12" y1="2" x2="12" y2="6"></line>
                            <line x1="12" y1="18" x2="12" y2="22"></line>
                            <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                            <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                            <line x1="2" y1="12" x2="6" y2="12"></line>
                            <line x1="18" y1="12" x2="22" y2="12"></line>
                            <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                            <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                        </svg>
                        SAVING
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
