<ol class="flex font-semibold text-primary dark:text-white-dark">
    <li class="bg-[#ebedf2] ltr:rounded-l-md rtl:rounded-r-md dark:bg-[#1b2e4b]">
        <a routerLink="/dashboard"
            class="relative flex h-full items-center p-1.5 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-3 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-3 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">Home</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180">Dissatisfied</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a routerLink="/dissatisfied/dissatisfied-customers-list"
            class="relative flex h-full items-center p-1.5 px-3 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-[#ebedf2] before:border-t-transparent hover:text-primary/70 ltr:pl-6 ltr:before:-right-[15px] rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">Dissatisfied
            Customers
            List</a>
    </li>
    <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
            class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-b-transparent before:border-l-primary before:border-t-transparent ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pl-2 rtl:pr-6 rtl:before:-left-[15px] rtl:before:rotate-180">Dissatisfied
            Details</a>
    </li>
</ol>
<div class="mt-5 pb-0">
    <div class="mb-5 grid grid-cols-1 gap-5 lg:grid-cols-3 xl:grid-cols-4" *ngIf="!load_flag">
        <div class="panel lg:col-span-2 xl:col-span-3">
            <div class="mb-5 flex flex-col gap-5 md:flex-row md:items-center">
                <h5 class="text-lg font-semibold dark:text-white-light">
                    Dissatisfied Details
                    <!-- <span class="badge badge-outline-primary">{{ quotationDetails.apptm_code }}</span> -->
                </h5>
                <!-- <div class="flex items-center gap-5 ltr:ml-auto rtl:mr-auto">
                    <button type="button" class="btn btn-primary btn-sm">LEAD - {{ quotationDetails.lead_code
                        }}</button>
                </div> -->
            </div>
            <div>
                <hr class="my-4 dark:border-[#191e3a]" style="border: 1px solid #eee" />
            </div>
            <div class="mb-5 grid flex-1 grid-cols-2 gap-2 lg:grid-cols-3 xl:grid-cols-3">
                <div>
                    <label for="name" class="small_label_text m-0 dark:text-white-dark">Customer Name</label>
                    <input type="text" readonly placeholder="Customer name" [(ngModel)]="dis_cust.cust_name"
                        class="form-input text-xs" maxlength="50" />
                </div>
                <div>
                    <label for="name" class="small_label_text m-0 dark:text-white-dark">Customer Number</label>
                    <input type="text" readonly placeholder="Customer Number" [(ngModel)]="dis_cust.phone"
                        class="form-input text-xs" maxlength="50" />
                </div>
                <!-- <div >
                    <label for="country" class="small_label_text m-0 dark:text-white-dark">Call Response</label>
                    <ng-select [(ngModel)]="leadform.callresponse" disabled="true" [searchable]="false"
                        [clearable]="false">
                        <ng-option value="0">Choose Call Response</ng-option>
                        <ng-option value="1">Answered</ng-option>
                        <ng-option value="2">Not Answered</ng-option>
                    </ng-select>
                </div> -->
                <div *ngIf="dis_cust.ldl_action != null && dis_cust.ldl_action != '0' ">
                    <label for="country" class="small_label_text m-0 dark:text-white-dark">Action Taken</label>
                    <ng-select [(ngModel)]="dis_cust.ldl_action" disabled="true" [searchable]="false"
                        placeholder="Choose Further Action" [clearable]="false">
                        <!-- <ng-option value="0">Choose Further Action</ng-option> -->
                        <ng-option value="1">Transfer the call</ng-option>
                        <ng-option value="2">Educated & Closed</ng-option>
                        <ng-option value="3">Closed with approval</ng-option>
                        <ng-option value="4">Revisit Requested</ng-option>
                        <ng-option value="5">Apology over phone/mail</ng-option>
                    </ng-select>
                </div>
                <div *ngIf="dis_cust.ldl_action =='1'">
                    <label for="name" class="small_label_text m-0 dark:text-white-dark">Transfered To</label>
                    <ng-select [(ngModel)]="dis_cust.psfm_current_assignee" disabled="true" [searchable]="false"
                        [clearable]="false">
                        <ng-option *ngFor="let ts of userslist" value="{{ ts.us_id }}">{{ ts.us_firstname}}</ng-option>
                    </ng-select>
                </div>
                <!-- <div *ngIf="dis_cust.ldl_action == '4'">
                    <label for="name" class="small_label_text m-0 dark:text-white-dark">Appointment Date</label>
                    <input type="text" readonly placeholder="Appointment Date" [(ngModel)]="leadform.dateField"
                        class="form-input text-xs" maxlength="50" />
                </div>
                <div *ngIf="dis_cust.ldl_action == '4'">
                    <label for="name" class="small_label_text m-0 dark:text-white-dark">Appointment Time</label>
                    <input type="text" readonly placeholder="User name" [(ngModel)]="leadform.appTime"
                        class="form-input text-xs" maxlength="50" />
                </div>
                <div *ngIf ="dis_cust.ldl_action == '4'">
                    <label for="country">Assigned To</label>
                    <ng-select [items]="userList" bindLabel="us_firstname" [(ngModel)]="quotationDetails.assigned"
                        bindValue="us_id" [searchable]="false" [clearable]="false" placeholder="Select Staff"
                        class="custom-multiselect">
                    </ng-select>
                </div>
                <div *ngIf="dis_cust.ldl_action == '4'">
                    <label for="name" class="small_label_text m-0 dark:text-white-dark">Pickup & Drop Details</label>
                    <ng-select [(ngModel)]="leadform.transportation_service" disabled="true"
                        [searchable]="false" [clearable]="false">
                        <ng-option value="0">Pick & Drop Requirement</ng-option>
                        <ng-option value="1">Pick Up & Drop Off Required</ng-option>
                        <ng-option value="2">Pick Up Required</ng-option>
                        <ng-option value="3">Drop Off Required</ng-option>
                        <ng-option value="4">Not Required</ng-option>
                    </ng-select>
                </div> -->
                <div class="col-span-2">
                    <label for="name" class="small_label_text m-0 dark:text-white-dark">Customer Comment</label>
                    <input type="text" disabled="true" placeholder="Remarks" [(ngModel)]="dis_cust.ldl_note"
                        class="form-input text-xs" maxlength="250" />
                </div>
            </div>
            <div>
                <hr class="my-4 dark:border-[#191e3a]" style="border: 1px solid #eee" />
            </div>
            <div class="mb-5 grid flex-1 grid-cols-2 gap-2 lg:grid-cols-3 xl:grid-cols-3"
                *ngIf="dis_cust.ldm_status == '1'">
                <div>
                    <label for="country">Call Response</label>
                    <ng-select [(ngModel)]="dis_cust.newcallresponse" placeholder="Choose Call Response"
                        [searchable]="false" [clearable]="false" (change)="resetFields()">
                        <!-- <ng-option value="0">Choose Call Response</ng-option> -->
                        <ng-option value="1">Answered</ng-option>
                        <ng-option value="2">Not Answered</ng-option>
                    </ng-select>
                </div>
                <div *ngIf="dis_cust.newcallresponse == '1'">
                    <label for="country">Response Action</label>
                    <ng-select [(ngModel)]="dis_cust.newresponseaction" placeholder="Choose Further Action"
                        [searchable]="false" [clearable]="false">
                        <!-- <ng-option value="0">Choose Further Action</ng-option> -->
                        <ng-option value="1" *ngIf="dis_cust.ldl_action != '1' ">Transfer the call</ng-option>
                        <ng-option value="2">Educated & Closed</ng-option>
                        <ng-option value="3">Closed with approval</ng-option>
                        <ng-option value="4" *ngIf="dis_cust.ldl_action != '4' ">Revisit Requested</ng-option>
                        <ng-option value="4" *ngIf="dis_cust.ldl_action == '4' ">Schedule An Appointment</ng-option>
                        <ng-option value="5">Apology over phone/mail</ng-option>
                    </ng-select>
                </div>
                <div *ngIf="dis_cust.newresponseaction=='1'">
                    <label for="name">Transfer To</label>
                    <ng-select [(ngModel)]="dis_cust.newforward_to" placeholder="Select Staff" [searchable]="false"
                        [clearable]="false">
                        <ng-option *ngFor="let ts of userslist" value="{{ ts.us_id }}">{{ ts.us_firstname}}</ng-option>
                    </ng-select>
                </div>
                <div *ngIf="dis_cust.newresponseaction == '4'">
                    <label for="name">Appointment Type*</label>
                    <ng-select [(ngModel)]="dis_cust.apptm_group" placeholder="Appointment Type">
                        <ng-option value="1">Normal</ng-option>
                        <ng-option value="2">Campaign</ng-option>
                    </ng-select>
                </div>
                <div *ngIf="dis_cust.newresponseaction=='4'">
                    <label for="name">Appointment Date*</label>
                    <ng2-flatpickr [config]="basic" placeholder="Appointment Date" [(ngModel)]="dis_cust.newdateField"
                        addClass="form-input"></ng2-flatpickr>
                </div>
                <div *ngIf="dis_cust.newresponseaction=='4'">
                    <label for="name">Appointment Time*</label>
                    <input type="time" placeholder="Select time slot" [(ngModel)]="dis_cust.newappTime"
                        class="form-input text-xs" maxlength="50" />
                </div>
                <div *ngIf="dis_cust.newresponseaction=='4'">
                    <label for="name">Pickup & Drop Details*</label>
                    <ng-select [(ngModel)]="dis_cust.newtransportation_service" [searchable]="false" [clearable]="false"
                        placeholder="Pick & Drop Requirement">
                        <!-- <ng-option value="0"></ng-option> -->
                        <!-- <ng-option value="1">Pick Up & Drop Off Required</ng-option>
                        <ng-option value="2">Pick Up Required</ng-option>
                        <ng-option value="3">Drop Off Required</ng-option>
                        <ng-option value="4">Not Required</ng-option> -->
                        <ng-option value="1">Free Pick & Drop</ng-option>
                        <ng-option value="2">Free Pick</ng-option>
                        <ng-option value="3">Free Drop</ng-option>
                        <ng-option value="4">Not Required</ng-option>
                        <ng-option value="5">Paid Pick & Drop</ng-option>
                        <ng-option value="6">Paid Pick Up</ng-option>
                        <ng-option value="7">Paid Drop Off</ng-option>
                        <ng-option value="8">Drop Off (Self)</ng-option>
                    </ng-select>
                </div>
                <div *ngIf="dis_cust.newresponseaction=='4'">
                    <label for="name">Appointment Assign*</label>
                    <ng-select [(ngModel)]="dis_cust.newassigned" [searchable]="false" [clearable]="false"
                        placeholder="select staff">
                        <ng-option *ngFor="let ts of userslist" value="{{ ts.us_id }}">{{ ts.us_firstname}}</ng-option>
                    </ng-select>
                </div>
                <!-- <div *ngIf="dis_cust.newresponseaction=='4'">
                    <label for="name">Reg No</label>
                    <input type="text" placeholder="Reg No" [(ngModel)]="dis_cust.psfm_reg_no"
                        class="form-input text-xs" maxlength="50" />
                </div> -->
                <div class="col-span-2">
                    <label for="name">Customer Comment</label>
                    <input type="text" placeholder="Remarks" [(ngModel)]="dis_cust.newlead_note"
                        class="form-input text-xs" maxlength="250" />
                </div>

            </div>


            <div class="mb-5 flex flex-col gap-5 md:flex-row md:items-center" *ngIf="dis_cust.ldm_status == '1'">
                <div class="flex items-center gap-5 ltr:ml-auto rtl:mr-auto">
                    <button type="button" class="btn btn-outline-success" size="small" (click)="Update(dis_cust)"
                        style="float: right">Update</button>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="mb-5 flex items-center justify-between">
                <h5 class="text-lg font-semibold dark:text-white-light">Activity Log</h5>
            </div>
            <div class="panel flex-1 p-0">
                <ng-container>
                    <div class="relative h-full pb-[68px]">
                        <div class="h-px w-full border-b border-[#e0e6ed] dark:border-[#1b2e4b]"></div>
                        <ng-scrollbar #scrollable
                            class="chat-conversation-box relative !h-[calc(100vh_-_289px)] min-h-[300px] sm:!h-[calc(100vh_-_300px)]"
                            visibility="native">
                            <div class="space-y-5 p-4">
                                <div class="flex items-start gap-3" *ngFor="let log of log">
                                    <div class="space-y-2">
                                        <div class="flex items-center gap-3">
                                            <div class="rounded-md bg-black/10 p-4 py-2 dark:bg-gray-800"
                                                [ngClass]="'!bg-success text-white ltr:rounded-br-none rtl:rounded-bl-none'">
                                                {{ log.ldl_activity }}
                                                by
                                                <b>{{ log.user_assigned }}</b>
                                            </div>
                                        </div>
                                        <div class="text-xs text-white-dark rtl:text-left">
                                            {{ log.c_date }} - {{log.c_time}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-scrollbar>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="load_flag" style="text-align: center">
        <span
            class="m-auto mb-10 inline-block h-14 w-14 animate-[spin_3s_linear_infinite] rounded-full border-8 border-b-success border-l-primary border-r-warning border-t-danger align-middle"></span>
    </div>
</div>