.table-fixed {
  width: 100%;
  border-collapse: collapse;
}

.table-fixed th,
.table-fixed td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.ng-autocomplete {
  width: auto;
}

.ng-autocomplete ::ng-deep .autocomplete-container {
  box-shadow: none;
  height: 2.1rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: rgb(224 230 237 / var(--tw-border-opacity));
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  height: 2rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: rgb(224 230 237 / var(--tw-border-opacity));
  text-transform: uppercase;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container .x i {
  font-size: 15px;
}

::ng-deep .swal2-popup.sweet-alerts.rounded-icon-popup .swal2-icon.rounded-icon-shadow {
  border-radius: 50% !important;
  box-shadow: 0 0 12px rgba(255, 123, 0, 0.8) !important;
}

::ng-deep .swal2-popup.sweet-alerts.rounded-icon-popup .warning-text {
  color: #f75f00d5 !important;
  font-weight: 500 !important;
}

::ng-deep .swal2-popup.sweet-alerts.rounded-icon-popup .swal2-confirm.confirm-btn {
  background-color: #013dd7 !important;
  color: #fff !important;
  padding: 0.6em 2em !important;
  font-weight: 600 !important;
  border-radius: 6px !important;
}